.btn
    box-sizing  border-box
    width 100%
    font-size 15px
    text-transform uppercase 
    text-align center
    border none
    height 44px 
    display block 
    line-height 44px 
    color #fff
    cursor pointer 
    background none
    transition background-color .4s ease-in-out, color .4s ease-in-out
    border-radius 22px 
    padding 0 
    outline none
    background $cBlue 
    font-weight bold 
    
    &:hover
        text-decoration none     
        background $cGreen
        color #fff  
        
    &_inline
        display inline-block
        width auto
        padding 0 30px

    &_disabled,
    &[disabled]
        background #0c3a48
        color #53747e  
        cursor default