block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.about-buy
        .width-wrap
            h2 Условия покупки

            ul.condition.justifyed
                li
                    img(src="../../../img/buy-1.png" alt /)
                    div
                        h3 УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ РАССРОЧКИ
                        ul.text
                            li - Рассрочка предоставляется до&nbsp;окончания строительства (3&nbsp;квартал 2017г.)
                            li - Минимальный первоначальный взнос&nbsp;&mdash; 30%

                li
                    img(src="../../../img/buy-2.png" alt /)
                    div
                        h3 ЕДИНОВРЕМЕННАЯ 100% ОПЛАТА
                        ul.text
                            li - Продажа с&nbsp;использованием ипотечного кредита приравнивается к&nbsp;продаже с&nbsp;единовременной оплатой;
                            li - Продажа с&nbsp;внесением 80&nbsp;% стоимости квартиры и&nbsp;более приравнивается к&nbsp;продаже с&nbsp;единовременной оплатой

                li
                    img(src="../../../img/buy-3.png" alt /)
                    div
                        h3 ИПОТЕКА
                        ul.text
                            li
                                img(src="../../../img/sber.png" alt /)
                                = "Ипотечная программа от лидера ипотечного кредитования в России"
                            li - Минимальная ставка 11,4%
                            li - Минимальный первоначальный взнос 20% от стоимости квартиры

            h2 Рассрочка

            table.payment
                tr
                    th Название программы
                    th Срок
                    th Минимальный первоначальный взнос
                    th Ежемесячный платеж
                    th Последний платеж
                    th Увеличение стоимости

                tr
                    td Стандартная
                    td До марта 2017
                    td 30%
                    td Остаток, деленный на количество месяцев рассрочки
                    td Нет
                    td Нет

                tr
                    td Низкий старт
                    td До марта 2017
                    td 20%
                    td Студия  - 15 000 рублей
                        br
                        = "Остальные квартиры - 20 000 рублей"
                    td Остаток, равный цене квартиры за минусом внесенных денежных средств
                    td +15% на остаток

            h2 Кредитные программы

            table.credit
                tr
                    th
                    th Ипотека с государственной поддержкой

                tr
                    td Процентная ставка
                    td 11,40% *
                        br
                        ="*Ставка фиксируется на весь срок действия кредитного договора. В случае нарушения условия о ежегодном продлении страхования жизни и здоровья заемщика ставка увеличивается до 12.4% годовых "

                tr
                    td Первый взнос
                    td 20% от стоимости квартиры

                tr
                    td Сумма кредита
                    td От 300 000 до 3 000 000 руб.

                tr
                    td Срок кредита
                    td от 12 месяцев до 30 лет (включительно)

                tr
                    td Возраст
                    td От 21 до 60 лет (муж.)/55 лет (жен)

                tr
                    td Гражданство
                    td Российская Федерация

                tr
                    td Регистрация
                    td Постоянная регистрация, фактическое место жительства и постоянное место работы в любом регионе присутствия Банка

                tr
                    td Стаж работы
                    td не менее 6 месяцев* на текущем месте работы и не менее 1 года общего стажа за последние 5 лет
                        br
                        ="(*На клиентов, получающих зарплату на счет в Сбербанке, это требование не распространяется) "


                tr
                    td Доп.комментарии
                    td Комиссия за выдачу кредита отсутствует. Дополнительные расходы:
                        br
                        ="· Страхование (тарифы зависят от индивидуальных особенностей заемщика);"
                        br
                        ="· нотариальное заверение документов"

    section.about-request
        .width-wrap
            a(href="" class="fancybox.ajax").fancy
                .ico
                span Заявка
                    br
                    ="на кредит"

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/payment.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});