block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.about-design
        .width-wrap
            h2 Готовый дизайн
            p  МЫ предлагаем три вида финишной отделки: "Скандинавский стиль", в котором используются светлые тона отделочных материалов, "Современный модерн", где отделочные материалы яркие и контрастные, и "Классический интерьер" с теплой пастельной гаммой тонов. Вид отделки вы можете выбрать и заказать во время заключения договора

            ul.design-list.justifyed
                li
                    a(href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").load-fotorama.js--load-fotorama
                        .design-list-img
                            img(src="../../../img/img--scand.jpg" alt /)

                        h3 СКАНДИНАВСКИЙ
                            br
                            ="СТИЛЬ"

                li
                    a(href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").load-fotorama.js--load-fotorama
                        .design-list-img
                            img(src="../../../img/img--modern.jpg" alt /)

                        h3 Современный
                            br
                            ="модерн"

                li
                    a(href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").load-fotorama.js--load-fotorama
                        .design-list-img
                            img(src="../../../img/img--classic.jpg" alt /)

                        h3 Классический
                            br
                            ="интерьер"

    section.about-service
        .width-wrap
            h2 Состав отделочный работ
            ul
                li 1. Стены комнат, коридоров, кухни – обои, галтели – по дизайн-проекту
                li 2. Стены в ванной комнате и туалете – плитка
                li 3. Потолки во всех помещениях – покраска
                li 4. Полы в комнатах – ламинат, установка плинтусов
                li 5. Полы в ванной комнате, туалете, прихожей, кухне – плитка
                li 6. Ванная комната: установка ванны со смесителем, раковины со смесителем, подводка воды от запорной арматуры
                li 7. Туалет: установка и подключение унитаза
                li 8. Установка межкомнатных дверей

    .popup-gallery
        .overlay
        .close
        .gallery-container

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/payment.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});