block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.about-news
        .width-wrap
            ul.news-list
                li
                    a(href="")
                        .news-list--img
                            img(src="../../../img/img--news-1.jpg" alt /)
                        h3                              Квартиры с отделкой как способ сэкономить
                        p                           ГК «Айдадом» приняло участие в выставке-семинаре для населения «Жилищный проект», прошедшем в Петербургском СКК 3-4 октября. (...)
                        time                              05 октября 2015

                li
                    a(href="")
                        .news-list--img
                            img(src="../../../img/img--news-2.jpg" alt /)
                        h3                              Квартиры с отделкой как способ сэкономить
                        p                           ГК «Айдадом» приняло участие в выставке-семинаре для населения «Жилищный проект», прошедшем в Петербургском СКК 3-4 октября. (...)
                        time                              05 октября 2015

                li
                    a(href="")
                        .news-list--img
                            img(src="../../../img/img--news-3.jpg" alt /)
                        h3                              Квартиры с отделкой как способ сэкономить
                        p                           ГК «Айдадом» приняло участие в выставке-семинаре для населения «Жилищный проект», прошедшем в Петербургском СКК 3-4 октября. (...)
                        time                              05 октября 2015

                li
                    a(href="")
                        .news-list--img
                            img(src="../../../img/img--news-4.png" alt /)
                        h3                              Квартиры с отделкой как способ сэкономить
                        p                           ГК «Айдадом» приняло участие в выставке-семинаре для населения «Жилищный проект», прошедшем в Петербургском СКК 3-4 октября. (...)
                        time                              05 октября 2015


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/payment.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});