block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.about-documentation
        .width-wrap
            ul.documentation-list
                li
                    a(href="")
                        .ico
                        h3 Изменения №9 в проектную декларацию

                li
                    a(href="")
                        .ico
                        h3 Изменения №9 в проектную декларацию

                li
                    a(href="")
                        .ico
                        h3 Изменения №9 в проектную декларацию

                li
                    a(href="")
                        .ico
                        h3 Изменения №9 в проектную декларацию

                li
                    a(href="")
                        .ico
                        h3 Изменения №9 в проектную декларацию


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/payment.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});