block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.about-facts
        .width-wrap
            h2 все для правильной жизни

            p ЖК&nbsp;&laquo;Yolkki Village&raquo;&nbsp;&mdash; это комплексно сформированная по&nbsp;современным стандартам жилая среда
                br
                = " в масштабах квартальной застройки с автономными коммуникациями и собственной развитой инфраструктурой."
                br
                = "Комплекс включает в себя:"

            ul.facts-list
                li
                    span(style="color: #ea0009") 2 432

                    p Квартир,
                        br
                        = "строительство в 4 очереди:"
                        small Общая площадь 101 000 м
                            sup 2

                li
                    span(style="color: #5ea304") 2 450
                        small м
                            sup 2

                    p Встроенных коммерческих
                        br
                        = "помещений"


                li
                    span(style="color: #0089af") 240

                    p Мест в составе квартала
                        br
                        = "в школе-сад"

    section.about-vantage
        .width-wrap
            h2 Квартиры в «Елках» — это:
            ul.vantage-list.justifyed
                li
                    .vantage-list__img
                        img(src='../../../img/rnd-1.png' alt /)

                    h3 Свой огороженный
                        br
                        = "палисадник"

                    p На 1-ых этажах со стороны дворов
                        br
                        = "уникальные квартиры с собственными огороженными палисадниками площадью от 30 до 40 кв.м, с выходом прямо"
                        br
                        = "из квартиры"

                li
                    .vantage-list__img
                        img(src='../../../img/rnd-2.png' alt /)

                    h3 Удобная планировка
                        br
                        = "квартир"

                    p В&nbsp;квартирах&nbsp;&mdash; минимум несущих стен (только пилоны), что дает их&nbsp;владельцам возможности для различных перепланировок

                li
                    .vantage-list__img
                        img(src='../../../img/rnd-3.png' alt /)

                    h3 Готовая отделка
                        br
                        = "помещений"

                    p Часть квартир - с «белой» отделкой.
                        br
                        = "Для тех, кто не готов тратить время"
                        br
                        = "и силы на ремонт. Никакого строительного шума и мусора"
                        br
                        = "на этаже"

    .about-inner
        h2 Внутренний дворик

        span.about-inner--text Фото 1 из 3

        div(data-nav="thumbs" data-transition="slide" data-margin="30").fotorama
            img(data-fit="cover" data-minwidth="761" data-ratio="100/100" src='../../../img/cars.jpg' alt /)
            img(data-fit="cover" data-minwidth="761" data-ratio="100/100" src='../../../img/chair.jpg' alt /)
            img(data-fit="cover" data-minwidth="761" data-ratio="100/100" src='../../../img/render.jpg' alt /)

    .about-architecture
        .width-wrap
            h2 Европейская
                br
                ="архитектура"

            ul.architecture.justifyed
                li.architecture__el-s
                    div.architecture__el--block
                        .architecture__el--img
                            img(src="../../../img/rnd-5.png" alt /)

                        h3 КРАСОТА

                        p Яркий скандинавский стиль в лучших традициях европейской архитектуры: для жизни и отдыха


                    div.architecture__el--block
                        .architecture__el--img
                            img(src="../../../img/rnd-7.png" alt /)

                        h3 УДОБСТВО

                        p Яркие освещенные входные группы с навесами, оборудованные для колясок и людей с ограниченными возможностями (пандусы, перила)

                li.architecture__el-l
                    div
                        .architecture__el--img
                            img(src="../../../img/rnd-4.png" alt /)

                        p Европейская архитектура отличается от других своим многообразием, сложностью строения, в основном роскошью

                li.architecture__el-s
                    div.architecture__el--block
                        .architecture__el--img
                            img(src="../../../img/rnd-6.png" alt /)

                        h3 РАЗНООБРАЗИЕ

                        p Гармоничная этажность зданий (3-4-6-8 этажей в динамике с холмистым рельефом местности


                    div.architecture__el--block
                        .architecture__el--img
                            img(src="../../../img/rnd-8.png" alt /)

                        h3 КОМФОРТ

                        p Ограничение доступа для автомобилей во внутридворовые территории. Стоянки оборудованы с внешней стороны домов, вдоль улиц

    .about-location
        .width-wrap
            h2 Расположение

            p Комплекс находится в непосредственной близости от города в окружении полей, лесов, озер,
                br
                = "вблизи новой современной автотрассы, всего в 10 км от КАД и МЕГА Парнас."

            .location-map
                .map-far.draggable
                .map-close.draggable.hidden-block

                .buttons
                    .plus
                    .minus

                p.label ЖК «Yolkki» в 10 км от «МЕГА ПАРНАС»



    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/about.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});