block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.about-stager--title
        .width-wrap
            h2 1 очередь
            span Сдача 4 квартал 2017

    section.about-scheme
        .width-wrap
            h3 2015 год - 15% готовность очереди
            .timeline-box.justifyed
                div(data-url="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").timeline-box__el.yellow-tree.color
                    svg(viewBox="562.2 70.4 279.7 454.4" style="width:30px;height:50px;").year-label__icon
                        polygon(fill="#ffde05" points="841.9,485.8 702.1,70.4 562.2,485.8 680.5,455.5 680.5,524.9 723.6,524.9 723.6,454.4 ")
                    span(data-text="Сентябрь 2015") Сентябрь
                div(data-url="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").timeline-box__el.color
                    span(data-text="Октябрь 2015") Октябрь
                div(data-url="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").timeline-box__el.active.color
                    span(data-text="Ноябрь 2015") Ноябрь
                div(data-url="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").timeline-box__el
                    span(data-text="Декабрь 2015") Декабрь
                .timeline-box__el.disable.gray-tree
                    span 2016
                        svg(viewBox="562.2 70.4 279.7 454.4" style="width:33px;height:55.00000000000001px;").year-label__icon
                            path(fill="#d1d1d1" d="M702.1,88.5l130.5,388.6l-107.8-28.5c-0.6,0-1.2,0-1.7,0c-1.2,0-2.3,0.6-3.5,1.2c-1.2,1.2-2.3,2.9-2.3,4.7 V519h-31.5v-63.5c0-1.7-0.6-3.5-2.3-4.7c-1.2-0.6-2.3-1.2-3.5-1.2c-0.6,0-1.2,0-1.7,0l-107.2,28L702.1,88.5 M702.1,70.4L562.2,485.8 l118.3-30.3v69.3h43.1v-70.5l118.3,31.5L702.1,70.4L702.1,70.4z" )
                    span 2017
                        svg(viewBox="562.2 70.4 279.7 454.4" style="width:36px;height:60px;").year-label__icon
                            path(fill="#d1d1d1" d="M702.1,88.5l130.5,388.6l-107.8-28.5c-0.6,0-1.2,0-1.7,0c-1.2,0-2.3,0.6-3.5,1.2c-1.2,1.2-2.3,2.9-2.3,4.7 V519h-31.5v-63.5c0-1.7-0.6-3.5-2.3-4.7c-1.2-0.6-2.3-1.2-3.5-1.2c-0.6,0-1.2,0-1.7,0l-107.2,28L702.1,88.5 M702.1,70.4L562.2,485.8 l118.3-30.3v69.3h43.1v-70.5l118.3,31.5L702.1,70.4L702.1,70.4z")

                span.timeline-line
                span.timeline-triangle

    section.about-photo
        .width-wrap
            .about-photo--text
                span.month Ноябрь 2015
                span.number Фото 1 из 3

            .fotorama-wrap
                div(data-nav="thumbs" data-transition="slide" data-allowfullscreen="true").fotorama
                    img(data-fit="cover" data-minwidth="960" src='../../../img/img--sept-1.jpg' alt /)
                    img(data-fit="cover" data-minwidth="960" src='../../../img/img--sept-2.jpg' alt /)
                    img(data-fit="cover" data-minwidth="960" src='../../../img/img--sept-3.jpg' alt /)

    section.about-info
        .width-wrap
            h2 Информация о ходе строительства

            h4 Ноябрь 2015 года

            p На сегодняшний день на строительной площадке ЖК «Yolkki Village» ведутся следующие работы:
            p  I очередь:
            p 1й корпус
            p 1-4я секции – закончено бетонирование фундаментной плиты.
            p 1я секция – закончено армирование стен подвала; на 50% выполнено бетонирование  стен  подвала.
            p План работ на декабрь 2015 года:


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/stage.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});