block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.about-news-post
        .width-wrap
            h1 ПРЕСС-КОНФЕРЕНЦИЯ ПО СЛУЧАЮ ЗАПУСКА ЖК YOLKKI VILLAGE

            time 25 сентября 2015

            img(src="../../../img/img--news.jpg" alt /)

            p  ГК «Айдадом» представляет свой новый проект - жилой комплекс Yolkki Village
            p Yolkki Village - это жилой комплекс во Всеволожском районе общей площадью 15,5 га, который включает в себя 14 разновысотных зданий от 3 до 8 этажей, рассчитанных на 2 432 квартиры. Общий объем жилого фонда – 101 000 кв.м. Проект реализуется по 214-ФЗ. Основное преимущество проекта – выгодное расположение в оптимальной доступности к Петербургу и ко всей городской инфраструктуре, в то же время в хорошей экологической зоне в окружении полей, лесов, озер. Комплекс находится вблизи новой современной автотрассы (Новоприозерское шоссе), по которой в любое время за 5-10 минут можно доехать до КАД и МЕГА Парнас.
            p
                i «Голые стены никому не интересны, сейчас никого не удивишь качеством бетона, ведь любой уважающий себя застройщик тщательно следит за технологией строительства, - людям необходимо предоставить достойный образ жизни. Поэтому в Yolkki Village будет создана особенная клубная атмосфера, а жилая среда продумана на всех этапах», -
                br
                strong рассказал Константин Михайловский, Директор Департамента развития и освоения новых территорий: ГК «Айдадом»:
                = "«Движение автотранспорта внутри жилого квартала будет ограничено, парковки вынесены за пределы дворов. Проектом предусмотрен стадион, а также детский сад и школа, велостоянки и инфраструктура для активного образа жизни. Сами дворы будут закрыты от въезда автотранспорта, что позволит жителям не дышать выхлопными газами, а детям спокойно бегать и играть. В каждой парадной на цокольном этаже будут предусмотрены кладовки для хранения колясок, колес, сноубордов и велосипедов»."

            a(href="").about-news-post--back ВЕРНУТЬСЯ К СПИСКУ НОВОСТЕЙ


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/news.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});