.structure

  .structure_bg
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    z-index 2
    background url(../img/static_background.jpg) no-repeat 50% 50%
    background-size cover

  .width-wrap
    box-shadow 0 5px 9px rgba(3,4,4,0.4)
    overflow hidden
    margin-bottom 50px
    position relative
    z-index 5
    background rgba(255,255,255,0.95)

    @media md
      padding 0
      min-width 960px
      width auto

  .structure-list
    margin-top 54px
    display table 
    position relative 
    width 100% 
    height 54px 
    text-align center 
    border-collapse collapse 
    z-index 1 
    -moz-box-shadow 0 3px 9px 0px rgba(0,0,0,0.2),inset 0 -7px 9px -7px rgba(0,0,0,0.2) 
    -webkit-box-shadow 0 3px 9px 0px rgba(0,0,0,0.2),inset 0 -7px 9px -7px rgba(0,0,0,0.2) 
    box-shadow 0 3px 9px 0px rgba(0,0,0,0.2),inset 0 -7px 9px -7px rgba(0,0,0,0.2) 

    li 
      display table-cell 
      vertical-align middle 
      cursor pointer 
      border 1px solid #77983d 
      border-bottom none 
      -moz-user-select -moz-none 
      -ms-user-select none 
      -webkit-user-select none 
      user-select none 

    li:hover,
    li.active
      background #77983d
      color #ffffff

  .structure-list:before
    content "" 
    display inline-block
    width 35px 
    height 28px 
    position absolute 
    bottom 100% 
    left 50% 
    margin-left -17.5px
    background url(../img/ico.png) no-repeat 0 0
    background-position 0 -2414px

  .map
    height 525px

    .map_balloon
      border 1px solid #ffffff
      padding  3px
      overflow hidden
      border-radius 2px

    .ymaps-2-1-31-copyrights-pane,
    .ymaps-2-1-31-controls__control_toolbar,
    .ymaps-2-1-31-search
      display none