.contacts
  .width-wrap
    box-shadow 0 5px 9px rgba(3,4,4,0.4)
    overflow hidden
    margin-bottom 50px

    @media md
      padding 0
      min-width 960px
      width auto

    .contacts--content
      box-shadow 0 5px 9px rgba(3,4,4,0.4)
      padding 58px 35px 20px

      h3, h2
        text-align left

      h2
        text-transform none
        font-size 28px
        color #213525
        font-family $fAcroma_bold

      div
        padding-left 50px
        margin-bottom 12px

        h3
          text-transform none
          padding-bottom 8px

        span, a
          display block
          font-size 14px
          line-height normal

    .map
      height 540px

      .ymaps-2-1-31-controls__toolbar_left,
      .ymaps-2-1-31-controls__control_toolbar,
      .ymaps-2-1-31-controls__control,
      .ymaps-2-1-31-scaleline,
//      .ymaps-2-1-31-user-selection-none,
      .ymaps-2-1-31-copyright__content-cell,
      .ymaps-2-1-31-islets_gotoymaps
        display none

.contacts-scheme
  margin 50px auto 50px
  text-align center
  display block

  .width-wrap

    h2
      text-transform none
      font-size 28px
      color #213525
      font-family $fAcroma_bold
  .fotorama
    min-width 1px
    overflow visible
    width 40%
    margin 0 auto

  .fotorama__stage
    overflow visible

  .fotorama__stage:before,
  .fotorama__nav:before
    background-image linear-gradient(transparent, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0.3) 75%, transparent),radial-gradient(farthest-side at 0 50%, rgba(0,0,0,0.4),rgba(0,0,0,0))
    background-position 0 0, 0 0
    left -10px

  .fotorama__stage:before, .fotorama__stage:after, .fotorama__nav:before, .fotorama__nav:after
    content ""
    display block
    position absolute
    text-decoration none
    top 0
    bottom 0
    width 10px
    height auto
    z-index 10
    pointer-events none
    background-repeat no-repeat
    background-size 1px 100%, 5px 100%


  .fotorama__stage:before
    display block
    width 200%
    background white
    opacity 0.5
    left 100%

  .fotorama__stage:after
    display block
    width 200%
    background white
    opacity 0.5
    right 100%

  .fotorama-stub
    width 40%
    margin 0 auto

  .fotorama__wrap
    width 100% !important
    min-width 0  !important
    max-width 100%  !important

  .fotorama__arr
    position absolute
    width 32px
    height 32px
    top 50%
    margin-top -16px
    box-shadow -8px 13px 30px -6px rgba(0,0,0,0.65)
    background white
    border-radius 50%
    transition-duration 0.3s
    transform translate3d(0, 0, 0)

  .fotorama__arr--prev:before,
  .fotorama__arr--next:before
    content ''
    display block
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    background url(../img/arr-1.png) center center/contain no-repeat
    width 13px
    height 23px
    -moz-transform scale(-0.5)
    -ms-transform scale(-0.5)
    -webkit-transform scale(-0.5)
    transform scale(-0.5)

  .fotorama__arr--next:before
    -moz-transform scale(0.5)
    -ms-transform scale(0.5)
    -webkit-transform scale(0.5)
    transform scale(0.5)

  .fotorama__arr--next
    right -65px

  .fotorama__arr--prev
    left -65px

  .fotorama__arr--disabled
    display none !important

  .js--load-fotorama
    position absolute
    cursor pointer
    width 20px
    height 20px
    z-index 2000
    bottom 10px
    right 10px
    background url(../img/zoom-in.png) center center/contain no-repeat
    width 25.9px
    height 25.9px
    opacity 0.5

  .fotorama__nav--thumbs
    display none