html * {
  max-height: 999999px;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 960px;
}
body {
  font-family: $fAcrom;
  font-size: 14px;
  color: #5d5d5d;
  min-height: 100%;
  height: 100%;
  position: relative;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}
.page-wrap {
  min-height: 100%;
  position: relative;
  min-width: 960px;
  overflow: hidden;
}
form,
p,
ul,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}
/***** ie fix ****/
a img {
  border: none;
}
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  color: #5d5d5d;
  outline: none;
}
button {
  font-family: 'Open Sans', sans-serif;
}
a {
  outline: none;
  color: #299dc3;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #bbccb6;
}
h1 {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 60px;
  font-weight: 300;
}
h2 {
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 30px;
  font-weight: 300;
}
p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 23px;
}
/*.rubl
  font-family 'als_rublregular'
  font-weight normal
  font-style normal  */
.wrapper {
  overflow: hidden;
}
.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
}
.clearfix:after,
.section:after {
  content: "";
  display: table;
  clear: both;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.section {
  position: relative;
}
.justifyed {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.width-wrap {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 860px;
}
@media md {
  .width-wrap {
    padding: 0 50px;
    width: auto;
  }
}
ol,
ul,
.grid {
  list-style: none;
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}
li,
.grid-item {
  line-height: normal;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
