.about-facts
  padding 77px 0 50px
  background $cGray_l

  p
    display block
    text-align center
    line-height 19px

  .facts-list
    padding 22px 40px 0
    text-align center

    li
      display inline-block
      vertical-align top
      width 30%
      text-align center

      span
        font-size 50px
        font-family $fAcroma_light
        display block
        padding-bottom 5px

        small
          font-size 18px

          sup
            top -0.5em
            font-size 75% 
            line-height 0 
            position relative 
            vertical-align baseline 

      p
        small
          display block
          font-size 12px
          line-height 12px

.about-vantage
  padding 78px 0 61px

  .vantage-list
    padding 21px 0 0
    text-align center

    li
      display inline-block
      vertical-align top
      width 27%
      text-align center
      position relative

      .vantage-list__img
        display block
        border-radius 50%
        width 310px
        height 310px
        text-align center
        position relative
        overflow hidden
        margin 0 auto 40px

        img
          display block
          min-width 100%
          min-height 100%

      .vantage-list__img:after
        position absolute
        content ''
        left 0
        right 0
        top 0
        bottom 0
        background url("../img/round_mask-large.png") no-repeat 50% 0
        background-size 100% 100%
        z-index 5
        border-radius 50%

      h3
        padding-bottom 13px

.about-inner
  padding 76px 0 50px
  background $cGray_l

  .about-inner--text
    display block
    text-align center
    padding 0 0 36px
    margin-top -10px
    font-size 15px
    font-weight normal

  .fotorama
    min-width 1px
    overflow visible
    width 40%
    margin 0 auto

  .fotorama__stage
    overflow visible

  .fotorama__stage:before,
  .fotorama__nav:before
    background-image linear-gradient(transparent, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0.3) 75%, transparent),radial-gradient(farthest-side at 0 50%, rgba(0,0,0,0.4),rgba(0,0,0,0))
    background-position 0 0, 0 0
    left -10px

  .fotorama__stage:before, .fotorama__stage:after, .fotorama__nav:before, .fotorama__nav:after
    content ""
    display block
    position absolute
    text-decoration none
    top 0
    bottom 0
    width 10px
    height auto
    z-index 10
    pointer-events none
    background-repeat no-repeat
    background-size 1px 100%, 5px 100%


  .fotorama__stage:before
    display block
    width 200%
    background white
    opacity 0.5
    left 100%

  .fotorama__stage:after
    display block
    width 200%
    background white
    opacity 0.5
    right 100%

  .fotorama-stub
    width 40%
    margin 0 auto

  .fotorama__wrap
    width 100% !important
    min-width 0  !important
    max-width 100%  !important

  .fotorama__arr
    position absolute 
    width 32px 
    height 32px 
    top 50% 
    margin-top -16px
    box-shadow -8px 13px 30px -6px rgba(0,0,0,0.65)
    background white
    border-radius 50%
    transition-duration 0.3s
    transform translate3d(0, 0, 0)

  .fotorama__arr--prev:before,
  .fotorama__arr--next:before
    content ''
    display block 
    position absolute 
    top 0 
    left 0 
    right 0 
    bottom 0 
    margin auto
    background url(../img/arr-1.png) center center/contain no-repeat
    width 13px 
    height 23px 
    -moz-transform scale(-0.5) 
    -ms-transform scale(-0.5) 
    -webkit-transform scale(-0.5) 
    transform scale(-0.5)

  .fotorama__arr--next:before 
    -moz-transform scale(0.5) 
    -ms-transform scale(0.5) 
    -webkit-transform scale(0.5) 
    transform scale(0.5)

  .fotorama__arr--next
    right -65px

  .fotorama__arr--prev
    left -65px

  .fotorama__arr--disabled
    display none !important

  .fotorama__fullscreen-icon
    position absolute 
    cursor pointer 
    width 20px 
    height 20px 
    z-index 2000 
    bottom 10px 
    right 10px 
    background url(../img/zoom-in.png) center center/contain no-repeat
    width 25.9px 
    height 25.9px 
    opacity 0.5

  .fotorama__nav--thumbs
    display none

.about-architecture
  padding 97px 0 119px
  background $cGray_l
  text-align center

  h2
    font-size 40px
    line-height 48px

  .architecture
    display block

    li
      display inline-block
      vertical-align top

      .architecture__el--img
        display block
        position relative
        width 260px
        height 260px
        border-radius 50%
        overflow hidden
        margin-bottom 25px

        img
          display block
          height  260px
          border-radius 260px

      .architecture__el--img:after
        position absolute
        content ''
        left 0
        right 0
        top 0
        bottom 0
        background url("../img/round_mask-large.png") no-repeat 50% 0
        background-size 100% 100%
        z-index 5
        border-radius 50%

      h3
        padding-bottom 8px


    .architecture__el-s
      margin-top -140px
      width 260px

      @media screen and (orientation portrait)
         width 210px

      .architecture__el--block:first-child
        margin-bottom 80px

    .architecture__el-l
      width 415px
      padding-top 16px
      margin 0 95px

      @media (max-width 1420px)
        margin 0 1%

      @media screen and (orientation portrait)
        width 380px
        margin 0 3%

      .architecture__el--img
        width 415px
        height 415px

        img
          min-width 415px
          min-height 415px

      p
        font-size 20px 
        line-height 24px 
        font-weight bold 
        margin-top 51px 

.about-location
  padding 70px 0 50px

  p
    line-height 19px
    text-align center
    display block

  .location-map
    position relative
    height 726px
    overflow hidden

    .map-far
      background url(../img/map-far.png) center center no-repeat
      background-size cover
      width 1228px
      height 771px
      z-index 1
      position relative
      top 0
      left 0
      opacity 1

    .map-far.hidden-block
      display block !important
      opacity 0
      position absolute
      pointer-events none

    .map-close
      background url(../img/map-close.png) center center no-repeat
      background-size cover
      width 1209px 
      height 866px
      z-index 1
      position relative
      top 0
      left 0
      opacity 1

    .map-close.hidden-block
      display block !important
      opacity 0
      position absolute
      pointer-events none

    .label
      lvisibility hidden 
      text-transform uppercase 
      color #fff 
      font-size 22px 
      position absolute 
      bottom 0
      left 0
      right 0
      text-align center
      pointer-events none
      margin-left 0
      opacity 0
      -moz-transition all 0.3s
      -o-transition all 0.3s
      -webkit-transition all 0.3s
      transition all 0.3s
      z-index 15

    .buttons 
      position absolute 
      right 0 
      top 50% 
      -moz-transform translateY(-50%) 
      -ms-transform translateY(-50%) 
      -webkit-transform translateY(-50%) 
      transform translateY(-50%) 
      z-index 3
      width 113px
      height 228px

      .plus
        background url(../img/plus.png) center center no-repeat 
        width 133px 
        height 133px 
        cursor pointer
        opacity 0.5
        -moz-transition all 0.3s
        -o-transition all 0.3s
        -webkit-transition all 0.3s
        transition all 0.3s

      .minus
        background url(../img/minus.png) center center no-repeat 
        width 133px 
        height 133px 
        margin-top -38px 
        cursor pointer
        opacity 0.5
        -moz-transition all 0.3s
        -o-transition all 0.3s
        -webkit-transition all 0.3s
        transition all 0.3s

    .plus:hover,
    .minus:hover
      opacity 1

  .location-map:after
    content ""
    position absolute 
    bottom 0 
    height 118px 
    width 100% 
    opacity 0 
    background url(../img/shadow.png)
    -moz-transition all 0.3s 
    -o-transition all 0.3s 
    -webkit-transition all 0.3s 
    transition all 0.3s
    pointer-events none
    z-index 5

  .location-map:hover
    .label
      opacity 1

  .location-map:hover:after
    opacity 1

.about-buy
  padding 75px 0 50px

  .condition
    padding-bottom 32px

    li
      display inline-block
      vertical-align top
      text-align left
      width 28%
      white-space nowrap

      img
        display inline-block
        vertical-align top
        margin-right 15px
        margin-top -10px

      div
        display inline-block
        vertical-align top
        max-width 249px
        text-align left
        white-space normal

        @media md
          width 200px

        h3
          padding-bottom 10px
          text-align left
          white-space normal

        ul
          li
            display block
            font-size 13px
            line-height 19px
            color $cBlack
            font-family $fAcrom
            width 100%
            padding-bottom 4px
            white-space normal

  .payment
    width 100%
    max-width 960px
    margin 0 auto 30px
    border-collapse collapse
    border 1px solid $cBlack

    th,td
      border 1px solid $cBlack
      padding 10px
      text-align center

  .credit
    width 100%
    max-width 960px
    margin 0 auto 30px
    border-collapse collapse
    border 1px solid $cBlack

    th,td
      border 1px solid $cBlack
      padding 10px
      text-align center
      width 50%

    td
      text-align left
      vertical-align top

.about-request
  background $cGray_l
  padding 70px 0 40px
  text-align center

  .fancy
    .ico
      background-image url(../img/sprites.png) 
      background-position 0 -165px 
      background-repeat no-repeat 
      height 51px 
      width 53px
      display inline-block
      vertical-align middle
      margin-right 15px

    span
      display inline-block
      vertical-align middle
      border-bottom 2px solid #000000
      text-align left
      text-transform uppercase
      font-family $fAcroma_bold
      color #000000

  .fancy:hover
    span
      border-bottom 2px solid #00719f
      color #00719f

    .ico
      background-position 0 -114px

.about-design
  padding 70px 0 50px
  height 570px
  opacity visible

  p
    display block
    text-align center

  .design-list
    margin-top 50px

    li
      text-align center
      width 320px
      position relative
      overflow visible
      z-index 5

      @media screen and (orientation portrait)
        width 310px

      a
        display block
        text-align center
        overflow visible
        background transparent

        .design-list-img
          background background
          width 310px
          height 310px
          border-radius 430px
          position relative
          margin-bottom 50px
          display block
          margin-left 5px
          transition-property all
          transition-duration 0.2s
          z-index 5

          img
            display block
            width 100%
            height 100%
            transition-property all
            transition-duration 0.2s
            border-radius 50%
            position relative
            z-index 2




        h3
          position relative
          z-index 5

        .design-list-img:after
          content ""
          position absolute
          left 0
          right 0
          top -1px
          bottom 0
          background url(../img/round_mask-large.png) top center no-repeat
          background-size cover
          z-index 3

    li:hover
      z-index 10



      .design-list-img
        width 430px
        height 430px
        border-radius 430px
        position relative
        margin-left -55px

        img
          display block
          height 100%
          width 100%
          border-radius 430px

      .design-list-img:before
        position absolute
        content ''
        top -1500px
        right -1500px
        bottom -1500px
        left -1500px
        background -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.01) 90%)
        background -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 90%)
        background radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 90%)
        z-index 1
        pointer-events none

.about-service
  padding 60px 0
  background $cGray_l
  text-align center

  ul
    display block
    max-width 820px
    margin 0 auto

    li
      text-align left
      padding-bottom 10px
      font-size 16px
      color $cBlack
      font-family $fAcrom
      display block

.about-documentation
  padding 70px 0 20px

  .documentation-list
    display block
    text-align left

    li
      display inline-block
      width 270px
      margin-bottom 50px

      a
        display block

        .ico
          display block
          background-image  url(../img/docs.png)
          background-position  0 -106px  
          background-repeat  no-repeat  
          height  106px  
          width  90px
          margin-bottom 25px

        h3
          padding-right 3.75em 
          line-height 1.375 
          font-size 16px
          font-weight bold 
          text-transform uppercase 
          color black
          text-align left

      a:hover
        h3
          color #00719f
          text-decoration underline

        .ico
          background-position  0 0

.about-news
  padding 70px 0 50px

  .news-list
    display block

    li
      width 24%
      padding 0 20px
      min-width 100px
      box-sizing border-box
      text-align left

      a
        display block

        .news-list--img
          position relative
          border-radius 7px
          overflow hidden
          max-height 195px
          margin-bottom 15px
          background #808080

          img
            width 100%

        .news-list--img:after
          content '' 
          display block 
          position absolute 
          top 0 
          left 0 
          bottom 0 
          right 0 
          background url(../img/pattern.png) top left/100% 100% no-repeat

      h3
        text-align left
        padding-bottom 5px

      p
        color #000000

      time
        font-family $fAcroma_bold
        color $cGray
        font-size 15px

.about-news-post
  padding 65px 0 50px

  h1
    margin-bottom 30px

  time
    font-family $fAcroma_bold
    color $cGray
    display block
    font-size 15px
    padding-bottom 20px

  img
    float left
    width 300px
    margin-right 90px
    margin-bottom 50px

  p
    font-size 15px
    margin-bottom 17px
    line-height 21px

    strong
      font-family  $fAcroma_bold
      display inline

    i
      font-style italic


  .about-news-post--back
    font-family $fAcroma_extra
    color #000000
    font-size 28px
    letter-spacing 1px
    text-align left
    display block
    font-weight bold
    text-transform uppercase

  .about-news-post--back:hover
    color $cBlue_d
    text-decoration underline


.about-stager--title
  background $cGray_l
  position relative
  padding 70px 0 60px
  text-align center

  h2
    display inline-block
    vertical-align top
    border-bottom 2px solid #000000
    margin-bottom 10px
    line-height 34px

  span
    display block
    text-align center


.about-stager--title:after
  position absolute
  content ''
  z-index 5
  width 0
  height 0
  border-style solid
  border-width 0 30px 30px 30px
  border-color transparent transparent #ffffff transparent
  bottom 0
  left 50%
  margin-left -30px

.about-scheme
  padding 75px 0 50px

  h3
    font-size 22px
    font-family $fAcroma_extra



  .timeline-box
    position relative
    width 810px
    margin 23px auto 0
    border-top 2px solid #d1d1d1

    .timeline-triangle
      position absolute
      z-index 5
      width 0
      height 0
      border-style solid
      border-width 0 30px 30px 30px
      border-color transparent transparent $cGray_l transparent
      bottom -50px
      left 375px
      margin-left -30px

    .timeline-box__el
      display inline-block
      vertical-align top
      margin-top 13px

      span
        font-size 12px
        position absolute
        cursor pointer
        border-bottom 2px solid transparent
        -moz-transition all 0.3s
        -o-transition all 0.3s
        -webkit-transition all 0.3s
        transition all 0.3s

      span:before
        position absolute
        content ''
        top -17px
        width 2px
        height 6px
        background #d1d1d1
        left 50%

      span:hover
        color #00719f
        border-bottom 2px solid #00719f

    .timeline-box__el:first-child
      margin-left -12px

    .timeline-box__el.active
      span
        border-bottom 2px solid #000000

    .timeline-box__el.disable
      span:hover,
      span
        border-bottom 2px solid transparent
        position relative
        display inline-block
        vertical-align top
        margin 0 5px
        font-size 15px
        color #d1d1d1
        font-family $fAcroma_bold
        cursor default

        svg
          position absolute
          left 4px

      span:nth-child(1)
        svg
          top -69px

      span:nth-child(2)
        svg
          top -73px
          left 2px

    .yellow-tree
      svg
        position absolute
        top -51px
        left 4px

    .color
      span:before
        background $cYellow



  .timeline-line
    position absolute
    z-index 5
    height 2px
    background $cYellow
    left 15px
    top -2px
    width 360px

.about-photo
  background $cGray_l
  padding 50px 0
  min-height 700px
  position relative
  text-align center

  .about-photo--text
    position absolute
    z-index 20
    left 0
    right 0
    text-align center
    top 600px

    .month
      display block
      color #ffffff
      font-family $fAcroma_extra
      text-shadow 1px 0px 3px black
      text-transform uppercase
      font-size 24px

    .number
      text-shadow 1px 0px 3px black
      font-size 12px
      color #ffffff

  .fotorama-wrap
    max-width 960px
    margin  0 auto
    display block
    width 100%

    .fotorama__arr
      position absolute
      width 32px
      height 32px
      top 50%
      margin-top -16px
      box-shadow -8px 13px 30px -6px rgba(0,0,0,0.65)
      background white
      border-radius 50%
      transition-duration 0.3s
      transform translate3d(0, 0, 0)

    .fotorama__arr--prev:before,
    .fotorama__arr--next:before
      content ''
      display block
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      margin auto
      background url(../img/arr-1.png) center center/contain no-repeat
      width 13px
      height 23px
      -moz-transform scale(-0.5)
      -ms-transform scale(-0.5)
      -webkit-transform scale(-0.5)
      transform scale(-0.5)

    .fotorama__arr--next:before
      -moz-transform scale(0.5)
      -ms-transform scale(0.5)
      -webkit-transform scale(0.5)
      transform scale(0.5)

    .fotorama__arr--next
      right 35px

    .fotorama__arr--prev
      left 35px

    .fotorama__arr--disabled
      display none !important

.about-info
  padding 50px 0

  span, p
    display block
    padding-bottom 15px
