body.index
  height 100%
  min-height 800px

  .page-wrap
    background url("../img/bg__index.jpg") top left no-repeat
    background-size cover
    min-height 100%
    margin-bottom -60px

    @media screen and (orientation portrait)
      min-height 56.2vw 
      -moz-background-size contain 
      -o-background-size contain 
      -webkit-background-size contain 
      background-size contain 

    .middle-stripe
      position absolute 
      top 0 
      bottom 60px 
      width 100%

      .layout-stretch-centered
        height auto 
        width auto 
        min-width 0 
        min-height 0 
        max-width 1200px
        margin 0 auto

  .top-stripe
    height 177px
    position relative

  .middle-stripe
    top 0
    overflow hidden
    position absolute
    bottom 60px
    width 100%

.marker-switcher
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  min-width 1648px
  min-height 820px

  @media screen and (orientation portrait)
    min-width 960px
    min-height 480px

  .marker
    position absolute
    width 56px
    height 56px

    .desc
      position absolute 
      margin 0 
      width 250px 
      top calc(100% + 8px)
      display block 
      text-align center 
      white-space pre 
      color #ffffff 
      vert-align middle
      left 50% 
      -moz-transform translate(-50%) 
      -ms-transform translate(-50%) 
      -webkit-transform translate(-50%) 
      transform translate(-50%)

      span
        font 1em Acrom, Helvetica, sans-serif
        color #ffffff
        font-weight bold
        padding 0 3px

  .marker_type_1
    span
      background $cGreen_d

  .marker_type_2
    span
      background $cBlue

  .marker_type_3
    span
      background $cOrange
    
  .marker_1
    background url("../img/go_swim.png") no-repeat 0 0
    background-size cover
    top 62%
    left 23%

  .marker_2
    background url("../img/go_camping.png") no-repeat 0 0
    background-size cover
    top 28%
    left 34%

  .marker_3
    background url("../img/will_arrive_soon.png") no-repeat 0 0
    background-size cover
    top 52%
    left 38%

  .marker_4
    background url("../img/parking.png") no-repeat 0 0
    background-size cover
    top 25%
    left 57%

  .marker_5
    background url("../img/sales.png") no-repeat 0 0
    background-size cover
    top 44%
    left 22%

  .marker_6
    background url("../img/good_shopping_day.png") no-repeat 0 0
    background-size cover
    top 36%
    left 65%
