@font-face {
  font-family: 'als_rublregular';
  src: url('../fnt/rouble-webfont.eot');
  src: url('../fnt/rouble-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fnt/rouble-webfont.woff2') format('woff2'),
       url('../fnt/rouble-webfont.woff') format('woff'),
       url('../fnt/rouble-webfont.ttf') format('truetype'),
       url('../fnt/rouble-webfont.svg#als_rublregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Acrom';
  src: url('../fnt/acromregular/acromregular.eot');
  src: url('../fnt/acromregular/acromregular.eot?#iefix') format('embedded-opentype'),
  url('../fnt/acromregular/acromregular.woff2') format('woff2'),
  url('../fnt/acromregular/acromregular.woff') format('woff'),
  url('../fnt/acromregular/acromregular.ttf') format('truetype'),
  url('../fnt/acromregular/acromregular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Acrom_bold';
  src: url('../fnt/acrombold/acrombold.eot');
  src: url('../fnt/acrombold/acrombold.eot?#iefix') format('embedded-opentype'),
  url('../fnt/acrombold/acrombold.woff2') format('woff2'),
  url('../fnt/acrombold/acrombold.woff') format('woff'),
  url('../fnt/acrombold/acrombold.ttf') format('truetype'),
  url('../fnt/acrombold/acrombold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Acrom_extra';
  src: url('../fnt/acromextra/acromextra.eot');
  src: url('../fnt/acromextra/acromextra.eot?#iefix') format('embedded-opentype'),
  url('../fnt/acromextra/acromextra.woff2') format('woff2'),
  url('../fnt/acromextra/acromextra.woff') format('woff'),
  url('../fnt/acromextra/acromextra.ttf') format('truetype'),
  url('../fnt/acromextra/acromextra.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Acrom_medium';
  src: url('../fnt/acrommedium/acrommedium.eot');
  src: url('../fnt/acrommedium/acrommedium.eot?#iefix') format('embedded-opentype'),
  url('../fnt/acrommedium/acrommedium.woff2') format('woff2'),
  url('../fnt/acrommedium/acrommedium.woff') format('woff'),
  url('../fnt/acrommedium/acrommedium.ttf') format('truetype'),
  url('../fnt/acrommedium/acrommedium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Acrom_thin';
  src: url('../fnt/acromthin/acromthin.eot');
  src: url('../fnt/acromthin/acromthin.eot?#iefix') format('embedded-opentype'),
  url('../fnt/acromthin/acromthin.woff2') format('woff2'),
  url('../fnt/acromthin/acromthin.woff') format('woff'),
  url('../fnt/acromthin/acromthin.ttf') format('truetype'),
  url('../fnt/acromthin/acromthin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Acrom_light';
  src: url('../fnt/acromlight/acromlight.eot');
  src: url('../fnt/acromlight/acromlight.eot?#iefix') format('embedded-opentype'),
  url('../fnt/acromlight/acromlight.woff2') format('woff2'),
  url('../fnt/acromlight/acromlight.woff') format('woff'),
  url('../fnt/acromlight/acromlight.ttf') format('truetype'),
  url('../fnt/acromlight/acromlight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// font vars

$fAcrom = Acrom, verdana, sans-serif
$fAcrom_medium = Acrom_medium, verdana, sans-serif
$fAcroma_extra = Acrom_extra, verdana, sans-serif
$fAcroma_thin = Acrom_thin, verdana, sans-serif
$fAcroma_light = Acrom_light, verdana, sans-serif
$fAcroma_bold = Acrom_bold, verdana, sans-serif