
// Variables

$cBlue = #299dc3
$cBlue_d = #3f729b
$cSalat = #d4de24
$cGreen = #bbccb6
$cGreen_d = #5f8b27
$cYellow = #ffdc06
$cOrange = #f07518
$cGray = #8f8f8f
$cGray_l = #f5f5f5
$cBlack = #5d5d5d
$cRed = #da2128


html *
  max-height 999999px //android font-size fix
  -webkit-font-smoothing antialiased 

html
body
  margin 0
  padding 0
  width 100%
  height 100%
  min-width 960px

body
  font-family $fAcrom
  font-size 14px
  color $cBlack
  min-height 100%
  height 100%
  position relative
  -webkit-text-size-adjust 100% // ios font-size fix
  background #fff


.page-wrap
  min-height 100%
  position relative
  min-width 960px
  overflow hidden

form,
p,
ul, ol,
dl, dt, dd,
h1, h2, h3, h4, h5, h6
  margin 0 
  padding 0 
  font-weight normal 
  list-style none 


/***** ie fix ****/
a img
  border none


input
textarea
  font-family 'Open Sans', sans-serif
  color $cBlack
  outline none

button
  font-family 'Open Sans', sans-serif

a
  outline none
  color $cBlue
  text-decoration none

  &:hover
   text-decoration none
   color $cGreen

h1 
  font-size 36px 
  line-height 50px
  margin-bottom 60px
  font-weight 300  
  
h2
  font-size 28px
  line-height 38px 
  margin-bottom 30px 
  font-weight 300 
  
p
  font-size 16px
  line-height 24px  
  margin-bottom 23px  
  
/*.rubl
  font-family 'als_rublregular'
  font-weight normal
  font-style normal  */

.wrapper
  overflow hidden

.clear
  clear both
  font-size 0
  line-height 0
  height 0

.clearfix:after
.section:after
  content "" 
  display table 
  clear both 

// .section

.pull-right
  float right

.pull-left
  float left

.text-center
  text-align center

.text-right
  text-align right
   
.section
  position relative

.justifyed
  display flex
  justify-content  space-between
  align-items flex-start
  
.width-wrap
  width 100%
  display block
  margin 0 auto
  max-width 1200px
  min-width 860px

  @media md
    padding 0 50px
    width auto


// отступы между горизонтальными li
ol, ul, .grid
  list-style none 
  font-size:0 
  line-height:0 
  letter-spacing:-1px 


li, .grid-item
  line-height:normal 
  letter-spacing:normal 
  display:inline-block 
  vertical-align top 
  zoom:1