a, p, span
  font-family Acrom, verdana, sans-serif
  font-size 14px
  line-height normal
  text-decoration none
  color #000000

a
  cursor pointer

h1
  font-family $fAcroma_extra
  color #000000
  font-size 28px
  letter-spacing 1px
  text-align left
  display block
  font-weight bold
  text-transform uppercase

h2
  font-family $fAcroma_extra
  color #000000
  font-size 28px
  letter-spacing 1px
  text-align center
  display block
  font-weight bold
  text-transform uppercase

h3
  font-family $fAcroma_bold
  color #000000
  font-size 16px
  display block
  text-transform uppercase
  text-align center
  line-height 22px

h4
  font-family $fOpen
  font-weight bold
  font-size 16px
