block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.structure
        .structure_bg
        .width-wrap
            .structure-list.presets
                li().active.all Все
                li(data-preset="sport").preset Спорт и отдых
                li(data-preset="shop").preset Магазины
                li(data-preset="school").preset Школы и сады
                li(data-preset="medicine").preset Медицина
                li(data-preset="security").preset Безопасность
                li(data-preset="another").preset Прочее

            div(id="map-structure").map


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/contacts.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});