block vars
    - var title='Title'

extends ../../partials/layout_index

block content

    .middle-stripe
        .layout-stretch-centered
            .home-container
                .marker-switcher
                    .marker.marker_type_1.marker_1
                        .desc
                            span Поехали купаться
                            br
                            span на Кавголовское озеро!!

                    .marker.marker_type_1.marker_2
                        .desc
                            span Завтра в поход
                            br
                            span на все выходные!

                    .marker.marker_type_2.marker_3
                        .desc
                            span Буду в центре
                            br
                            span через 40 минут!

                    .marker.marker_type_2.marker_4
                        .desc
                            span А я ставлю машину
                            br
                            span у Парнаса!

                    .marker.marker_type_3.marker_5
                        .desc
                            span Скидки в салоне красоты!

                    .marker.marker_type_3.marker_6
                        .desc
                            span День удачного
                            br
                            span шоппинга!

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/main.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});




