<div class="call-request">
    <div class="form-header">Обратный звонок</div>
    <div class="form-tip">Пожалуйста, укажите Ваше имя и телефон и мы перезвоним Вам в самое ближайшее время!</div>
    <div class="form-tip">Поля, отмеченные "звездочкой", обязательны для заполнения</div>
    <form accept-charset="UTF-8" action="assets/ajax/send.php" class="form-content" id="new_call_request" method="post">
        <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
        <div class="form-group is-required">
            <label for="flat_request_name">Имя и фамилия</label>
            <input id="call_request_name"  name="name" title="Заполните это поле" type="text">

            <div class="errors">
            </div>
        </div>
        <div class="form-group is-required">
            <label for="flat_request_phone">Телефон</label>
            <input id="call_request_phone" name="phone" type="tel">

            <div class="errors">
            </div>
        </div>
        <div class="send-wrapper">
            <input class="send js-form-submit" name="commit" type="submit" value="Отправить">
        </div>
    </form>
    <a href="call-request-ok.html" class="fancy fancybox.ajax js--send-ok">
        <script type="text/javascript">
            $('.call-request #call_request_phone').mask('+7(999)999-99-99');
        </script>
</div>