<div class="call-request flat-request flat-form">
    <div class="form-header">Забронировать</div>
    <div class="form-tip">Поля, отмеченные "звездочкой", обязательны для заполнения</div>
    <form accept-charset="UTF-8" action="assets/ajax/send.php" class="form-content" id="new_call_request" method="post">
        <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
        <div class="form-group is-required">
            <label for="flat_request_name">Имя и фамилия</label>
            <input id="flat_request_name" name="flat_request[name]" type="text">

            <div class="errors">
            </div>
        </div>
        <div class="form-group">
            <label for="flat_request_email">Электронная почта</label>
            <input id="flat_request_email" name="flat_request[email]" type="email">
        </div>
        <div class="form-group is-required">
            <label for="flat_request_phone">Телефон</label>
            <input id="flat_request_phone" name="flat_request[phone]" placeholder="+7 (___) ___-__-__" type="tel">

            <div class="errors">
            </div>
        </div>
        <div class="form-group ">
            <label for="flat_request_comment">Комментарий</label>
            <textarea id="flat_request_comment" name="flat_request[comment]"></textarea>
        </div>
        <input id="flat_request_cursor" name="flat_request[cursor]" type="hidden" value="1/1-2--1/27">

        <div class="send-wrapper">
            <input class="send" name="commit" type="submit" value="Отправить">
        </div>
    </form>
    <a href="call-request-ok.html" class="fancy fancybox.ajax js--send-ok">
        <script type="text/javascript">
            $('.call-request #flat_request_phone').mask('+7(999)999-99-99');
        </script>
</div>