<div class="fotorama" data-nav="thumbs" data-transition="crossfade" data-margin="30">
    <img data-fit="cover" data-minwidth="761" data-ratio="100/100" src='../../../img/cars.jpg' alt />
    <img data-fit="cover" data-minwidth="761" data-ratio="100/100" src='../../../img/chair.jpg' alt />
    <img data-fit="cover" data-minwidth="761" data-ratio="100/100" src='../../../img/render.jpg' alt />
</div>