block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.contacts
        .width-wrap
            .contacts--content
                h2 Контакты

                div
                    h3 Отдел продаж
                    span 194044, Санкт-Петербург
                    span Финляндский пр., 4А
                    span БЦ "Петровский форт", офис Б-55 (атриум, уровень Б)

                div
                    h3 Телефон
                    a(href="tel:88126402277") +7 (812) 640-22-77

                div
                    h3 Почта
                    a(href="mailto:sale@yolkki.ru") sale@yolkki.ru

            div(id="map-contacts" data-office="[59.957219,30.342687]" data-complecs="[60.177407,30.365285]").map

    .contacts-scheme
        .width-wrap
            h2 Как проехать
            div(data-nav="thumbs" data-transition="slide").fotorama
                img(data-caption="Подпись к фотографии1" data-fit="cover" data-minwidth="960" src="../../../img/karti.jpg" alt /)
                div
                    img(data-caption="Подпись к фотографии2" data-fit="cover" data-minwidth="960" src="../../../img/karti.jpg" alt /)
                    img(data-caption="Подпись к фотографии2" data-fit="cover" data-minwidth="960" src="../../../img/karti2.jpg" alt /)
                    img(data-caption="Подпись к фотографии2" data-fit="cover" data-minwidth="960" src="../../../img/karti3.jpg" alt /)
                    img(data-caption="Подпись к фотографии2" data-fit="cover" data-minwidth="960" src="../../../img/karti4.jpg" alt /)


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/contacts.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});