<div>
    <div class="floor-nav">
        <div class="floor-nav-content">
            <div class="floor-nav-pos">
                <span>2</span><span> этаж</span>
            </div>
            <div class="floor-nav-pos-text"></div>
            <div class="floor-nav-label"></div>
        </div>
        <div class="floor-link js--close-flat">Вернуться к плану этажа</div>
    </div>
    <div class="plan-circles">
        <div class="flat-rooms plan-circle circle-medium">
            <div class="circle-content">
                <div class="circle-content-centered">
                    <div class="heading">3</div>
                    <div>комнаты</div>
                </div>
            </div>
        </div>
        <div class="flat-square plan-circle circle-medium">
            <div class="circle-content">
                <div class="circle-content-centered">
                    <div class="heading"><span>787</span><span> м</span><sup>2</sup></div>
                    <div>площадь</div>
                </div>
            </div>
        </div>
        <div class="plan-circle circle-medium flat-price">
            <div class="circle-content">
                <div class="circle-content-centered">
                    <div class="heading">4 394 320</div>
                    <div>цена, руб</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flat-description">
        <div class="flat-description-text">
            <div class="flat-description-text-heading">
                <span>№ квартиры: </span>
                <span>2.51</span>
            </div>
            <div class="text-line">
                <span>Общая площадь</span>
                <span> - </span>
                <span>
                    <span>787</span>
                    <span> м</span>
                    <sup>2</sup>
                </span>
            </div>
            <div class="text-line">
                <span>Жилая</span>
                <span> - </span>
                <span>
                    <span>463</span>
                    <span> м</span>
                    <sup>2</sup>
                </span>
            </div>
            <div class="text-line">
                <span>Кухня</span>
                <span> - </span>
                <span>
                    <span>13.68</span>
                    <span> м</span>
                    <sup>2</sup>
                </span>
            </div>
        </div>
    </div>
    <div class="buttons-left">
        <a class="flat-pdf flat-button" href="flats/print.pdf?cursor=1/1-2--2/22" target="_blank">
            <div class="ico"></div>
            <div class="text">
                <span class="text-line">Распечатать </span>
                <span class="text-line underline">план в pdf</span>
            </div>
        </a>
        <a href="../../../../../js/popup/flat-request.html" class="flat-fav flat-button fancy fancybox.ajax">
            <div class="ico"></div>
            <div class="text">
                <span class="text-line"> Забронировать </span>
                <span class="text-line underline">квартиру</span>
            </div>
        </a>
    </div>
    <div class="buttons-right">
        <a class="flat-button hidden-block flat-downpayment calc-wrap flat-downpayment-wrap  js--show-popup">
            <div class="ico"></div>
            <div class="text">
                <span class="text-line"> Рассчитать </span>
                <span class="text-line underline">рассрочку</span>
            </div>
            <div class="calc-panel">
                <div>
                    <div class="calc-top">
                        <div class="calc-close js--close-popup"></div>
                        <div class="calc-block initial-pay-block">
                            <div class="initial-pay-input-wrap">
                                <div class="calc-label">Первый платеж:</div>
                                <input class="initial-pay" type="text" value="2 354 100"></div>
                                <div class="initial-pay-slider-wrap">
                                <div class="undefined progress-container">
                                    <div class="progress" style="width:50%;">
                                        <span class="progress-label">
                                            <span>50</span>
                                            <span>%</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="slider-initial-pay slider-component" data-min-current="50" data-max_range="100" data-min_range="50"></div>
                            </div>
                        </div>
                        <div class="calc-block period-block">
                            <div class="calc-label">Период рассрочки:</div>
                            <div class="radio-group">
                                <div class="radio-option">
                                    <input name="period" type="radio" value="12" checked="" id="period_12">
                                    <label for="period_12">12 месяцев</label>
                                </div>
                                <div class="radio-option">
                                    <input name="period" type="radio" value="24" id="period_24" >
                                    <label for="period_24">24 месяца</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="calc-bottom">
                        <div class="bottom-right">
                            <span>Сумма с учетом процентов:</span>
                            <b>
                                <span class="total">4 943 610</span>
                                <span class="rub"> руб.</span>
                            </b>
                        </div>
                        <span>Ежемесячный платеж:</span>
                        <b>
                            <span class="month-payment">215 792</span>
                            <span class="rub"> руб.</span>
                        </b>
                    </div>
                </div>
            </div>
        </a>
        <a class="flat-mortgage hidden-block flat-button calc-wrap flat-mortage-wrap js--show-popup">
            <div class="ico"></div>
            <div class="text">
                <span class="text-line"> Рассчитать </span>
                <span class="text-line underline">ипотеку</span>
            </div>
            <div class="calc-panel">
                <div>
                    <div class="calc-top">
                        <div class="calc-close js--close-popup"></div>
                        <div class="calc-block initial-pay-block">
                            <div class="initial-pay-input-wrap">
                                <div class="calc-label">Первый платеж:</div>
                                <input class="initial-pay" type="text" value="941 640"></div>
                            <div class="initial-pay-slider-wrap">
                                <div class="percents grades">
                                    <div class="grade-item">20%</div>
                                    <div class="grade-item">35%</div>
                                    <div class="grade-item">50%</div>
                                    <div class="grade-item">65%</div>
                                    <div class="grade-item">80%</div>
                                </div>
                                <div class="percent slider-component" data-min-current="50" data-max_range="100" data-min_range="50"></div>
                            </div>
                        </div>
                        <div class="calc-block period-block">
                            <div class="calc-label">Период ипотеки:</div>
                            <div class="period-input-wrap">
                                <input class="period-input" type="text" value="3">
                                <span class="input-suffix">лет</span>
                            </div>
                            <div class="period-slider-wrap">
                                <div class="slider-min-max">
                                    <div class="max">35</div>
                                    <div class="min">3</div>
                                </div>
                                <div class="period slider-component" data-min-current="3" data-max_range="35" data-min_range="3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="calc-bottom">
                        <div class="bottom-right">
                            <span>Сумма с учетом процентов:</span>
                            <b>
                                <span class="total">5 510 410</span>
                                <span class="rub"> руб.</span>
                            </b>
                        </div>
                        <span>Ежемесячный платеж:</span>
                        <b>
                            <span class="month-payment">126 910</span>
                            <span class="rub"> руб.</span>
                        </b>
                    </div>
                </div>
            </div>
        </a>
        <a href="../../../../../js/popup/flat-request.html" class="flat-credit flat-button fancy fancybox.ajax">
            <div class="ico"></div>
            <div class="text">
                <span class="text-line"> Заявка </span>
                <span class="text-line underline">на кредит</span>
            </div>
        </a>
    </div>
    <a href="/how_to_buy" class="how-to-buy-link no-print">Условия покупки</a>
    <div class="position-container pano-container">
        <a href="../../../../../img/2_2_51.png" class="fancy">
            <img src="../../../../../img/2_2_51.png" alt/>
        </a>
    </div>
</div>