body
  height 100%


.psevdofooter
  display block
  height 60px

.footer
  position absolute
  left 0
  right 0
  bottom 0
  height 60px
  background #e8e8e8
  z-index 50

.footer
  .justifyed
    align-items center
    padding 10px 0 3px

  .width-wrap
    position relative
    z-index 20
    width 90%
    max-width 1200px
    margin 0 auto


  &__social,
  &__phone,
  &__made
    display inline-block
    vertical-align top

  .footer__social
    width 150px

    li
      display inline-block
      vertical-align top
      margin-right 3px
      background $cBlue_d
      width 32px
      height 32px
      border-radius 50%
      text-align center

      a
        display block
        width 32px
        height 22px
        border-radius 32px
        padding-top 10px

        .ico
          display block
          width 12px
          height 12px
          background-image url("../img/ico.png")
          background-repeat no-repeat
          margin-left 12px

      .footer__social-vk
        background #45668e
        .ico
          background-position 0 -38px
      .footer__social-in
        background #3f729b
        .ico
          background-position 0 -14px
          margin-left 10px
      .footer__social-fb
        background #3b5998
        .ico
          background-position 0 0

  &__phone
    color $cBlack
    font-size 12px
    font-weight bold

  &__made
    padding-top 2px


    span, a
      font-size 12px
      color $cBlack
      font-weight bold

    a
      text-transform uppercase
      color $cRed
      text-decoration underline

  &__copyright
    display block
    text-transform uppercase
    font-size 10px
    color $cGray

  &__sber
    margin-top -8px

    span
      display block
      text-transform uppercase
      font-size 8px
      text-align center
      color $cBlack

    img
      height 25px
      margin 2px auto 0
      display block

.index

  .bottom-stripe
    height 60px
    position relative
    overflow hidden

    .footer
      background none
      position relative

  .footer-blur
    position  absolute
    bottom  0
    right  0
    left  0
    width  100%
    height  60px
    overflow  hidden

  .footer-blur:after
    content  ''
    display  block
    background  url("../img/bg__index.jpg") top left/cover no-repeat
    -webkit-filter  blur(2px)
    filter  blur(2px)
    position  absolute
    bottom  0
    right  0
    left  0
    height  100vh

  .footer
    background transparent

    &__phone
      color #ffffff !important

    &__made
      span
        color #ffffff !important

    &__sber
      span
        color #ffffff