.flat
  .header
    height auto
    background transparent

.index
  .header
    height auto
    background transparent

.header
  padding 14px 0 10px
  font-family Acrom, verdana, sans-serif
  text-align center
  position relative
  z-index 110
  background url("../img/bg__header.jpg") no-repeat 50% 0
  background-size cover
  min-height 153px

  .main-nav
    display inline-flex
    justify-content  space-between
    vertical-align middle
    width calc(45% - 65.5px)
    max-width 585px
    margin-top -31px
    position relative
    margin-top 53px

    @media (max-width 1270px)
       width 39%

    li
      position relative

      span,
      a
        font-size 19px
        text-transform uppercase
        color #ffffff
        font-weight bold

        @media (max-width 1240px)
          font-size 14px

      span, a:hover
        border-bottom  1px solid #ffffff

    li.has-menu

      span
        position absolute
        left 0
        width 150px
        top 25px
        text-align left
        font-size 14px
        color #ffffff
        border-bottom none
        text-transform none
        white-space nowrap


      .submenu
        display none
        position absolute
        left 50%
        margin-left -86px
        right 0
        top -7px
        background #ffffff
        z-index 2
        box-shadow 0 5px 5px rgba(10,11,11,0.25)
        width 200px
        padding-top 39px
        padding-bottom 5px

        li
          display block
          padding 2.5em 2em 9px 30px
          text-align left

          a
            display inline-block
            font-size 14px
            color $cBlack
            line-height 1.5
            padding 0
            margin 0
            border-bottom 1px solid transparent
            font-weight bold
            text-transform none

          a:hover
            color $cGreen !important
            border-bottom 1px solid $cGreen

    li.submenu
      padding 0.7em 2em

    li.has-menu:after
      content '' 
      display block 
      position absolute 
      top 10px
      left calc(100% + 10px)
      margin 0 10px 0 0 
      background-position 0 -2448px 
      width 9px 
      height 6px
      background-image url(../img/ico.png)
      z-index 20

    li.has-menu:hover:after
      background-position 0 -2454px

    li.has-menu:hover
      a
        color $cBlack !important
        position relative
        z-index 5

      .submenu
        display block

    li.header__contacts
      text-align right
      display block
      position absolute
      right 0
      top -56px

      a
        display inline-block
        vertical-align top
        font-size 16px
        color $cGreen
        font-weight bold

        strong
          font-weight normal
          color $cYellow
          font-size 23px
          border-bottom dotted 1px $cYellow
          margin-left 5px

      a:hover
        border-bottom none
        text-decoration none

  .main-nav:nth-child(1)
    margin-right 85.5px

  .main-nav:nth-child(3)
    margin-left 85.5px

  .main-logo
    display inline-block
    vertical-align middle
    width 135px
    height 135px
    background url("../img/logo.svg") 50% 50%
    background-size cover
    border-radius 135px
    margin 0 1.3%
    margin-top 7px
    left 50%
    margin-left -67px
    position absolute