
.call-request
  width 440px
  font 13px Acrom, Verdana, sans-serif 
  position relative
  padding 5.23077em 4.92308em 5.92308em
  background #fff

  @media (max-width 1500px)
    width 300px

  @media (max-width 1380px)
    width 300px

.call-request .form-header,
.call-request .send
  font-size 26px
  letter-spacing 0.05em 
  text-transform uppercase 
  line-height 1 
  margin-bottom 0.92857em 
  text-align center
  font-family $fAcroma_extra
  font-weight bold


.call-request .form-tip 
  line-height 20/13 
  margin-bottom 2.76923em 
  text-align center 


.call-request .form-group, .call-request form 
  width 100% 


.call-request .form-group 
  text-align left 
  margin-bottom 1.69231em 


.call-request .form-group label 
  display inline-block 
  margin 0 0 0.8125em 1.5em 
  font-size 1.23077em 
  line-height 1 
  font-weight bold 
  text-transform uppercase 
  letter-spacing 0.025em 


.call-request .form-group.is-required label:after 
  vertical-align top 
  content ' \2736' 
  font-size 0.5em 
  color #da2128 


.call-request .form-group input, .call-request .form-group textarea 
  -moz-box-sizing border-box 
  -webkit-box-sizing border-box 
  box-sizing border-box 
  display block 
  font-size 1.07692em 
  font-weight 200 
  padding-left 1.84615em 
  border 1px solid #d4d4d4 
  height 2.84615em 
  width 100% 


.call-request .form-group .errors 
  line-height 13/15 
  font-weight 200 
  color #da2128 


.call-request .send-wrapper 
  display block 
  text-align:center
  font-family $fAcroma_extra !important


.call-request .send
  display inline-block 
  border none 
  color black 
  background none 
  margin-bottom 0 
  border-bottom 2px solid #000000

.form-group textarea
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
  display block
  font-size 1.07692em
  font-weight 200
  padding-left 1.84615em
  padding-top 10px
  border 1px solid #d4d4d4
  height 95px
  width 100%


.popup-gallery    
  position fixed
  top 0
  left 0 
  width 100% 
  height 0

  .overlay
    position absolute 
    top 0 
    left 0 
    width 100% 
    height 100% 
    background-color rgba(20,20,20,0.9) 
    opacity 1 !important 
    z-index 4

  .close
    position absolute
    right 20px
    top 20px
    background url(../img/close-gallery.png) center center/contain no-repeat
    width 13px
    height 13px
    z-index 12
    cursor pointer

  .gallery-container
    position absolute 
    top 50% 
    left 50% 
    -moz-transform translate(-50%, -50%) 
    -ms-transform translate(-50%, -50%) 
    -webkit-transform translate(-50%, -50%) 
    transform translate(-50%, -50%) 
    width 80% 
    max-width 800px 
    max-height 90vh 
    margin auto 
    z-index 11 

.popup-gallery.active
  height 100%
  z-index 200

  .fotorama__arr
    position absolute
    width 32px
    height 32px
    top 50%
    margin-top -16px
    box-shadow -8px 13px 30px -6px rgba(0,0,0,0.65)
    background white
    border-radius 50%
    transition-duration 0.3s
    transform translate3d(0, 0, 0)

  .fotorama__arr--prev:before,
  .fotorama__arr--next:before
    content ''
    display block
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    background url(../img/arr-1.png) center center/contain no-repeat
    width 13px
    height 23px
    -moz-transform scale(-0.5)
    -ms-transform scale(-0.5)
    -webkit-transform scale(-0.5)
    transform scale(-0.5)

  .fotorama__arr--next:before
    -moz-transform scale(0.5)
    -ms-transform scale(0.5)
    -webkit-transform scale(0.5)
    transform scale(0.5)

  .fotorama__arr--next
    right 35px

  .fotorama__arr--prev
    left 35px

  .fotorama__arr--disabled
    display none !important

