block vars
    - var title='Title'

extends ../../partials/layout_flat

block content

    .middle-stripe
        .blur

        .flats-app-container
            .pano-svg
                .svg-loader-content
                    svg(id="svg" x="0px" y="0px" width="1920" height="1080" viewBox="729 -530.9 1920 1080" enable-background="new 629 -410.9 2020 1080" xml:space="preserve" inkscape:version="0.91 r" sodipodi:docname="../../../img/genplan.svg")

            .house-pointer.section_2

                .house-flats-num
                    .circle-content
                        .circle-content-centered
                            .heading 82
                            div квартиры в продаже

                .house-label
                    .circle-content
                        .circle-content-centered
                            .heading Дом 1
                            .data-reactid
                                span Корпус
                                span 2

                .pointer-arrow

            .house-pointer.section_1
                .house-flats-num
                    .circle-content
                        .circle-content-centered
                            div Нет в продаже

                .house-label
                    .circle-content
                        .circle-content-centered
                            .heading Дом 1
                            .data-reactid
                                span Корпус
                                span 1

                .pointer-arrow

            .house-pointer.section_3
                .house-flats-num
                    .circle-content
                        .circle-content-centered
                            div Нет в продаже

                .house-label
                    .circle-content
                        .circle-content-centered
                            .heading Дом 1
                            .data-reactid
                                span Корпус
                                span 3

                .pointer-arrow

            .house-pointer.section_4
                .house-flats-num
                    .circle-content
                        .circle-content-centered
                            div Нет в продаже

                .house-label
                    .circle-content
                        .circle-content-centered
                            .heading Дом 1
                            .data-reactid
                                span Корпус
                                span 4

                .pointer-arrow

        .flats-filter-wrap
            .open-toggle.js--open-filer Выбрать квартиру
            .reset-filter.js--filter-reset Сбросить фильтры
            .flats-filter-container
                form(action="../../../js/ajax/filter.php" method="post").filter-form
                    .filter-block.grid
                        .price-section.grid-item.filter-section
                            .filter-section-title Цена
                            .filter-section-content
                                .field-block
                                    span.price_value.price_min 1 833 388 руб.
                                    input(type="hidden" name="price_min" value="").inp-price-min
                                    .price.slider-component(data-min-current="1 833 388" data-max-current="4800000" data-min_range="0" data-max_range="4833388" data-step="500")
                                    span.price_value.price_max 4 833 388 руб.
                                    input(type="hidden" name="price_max" value="").inp-price-max

                        .size-section.grid-item.filter-section
                            .filter-section-title Размеры
                            .filter-section-content.grid
                                .field-block.col-40p.grid-item
                                    .field-block--label Число комнат:
                                    .button-group
                                        label.js--send-filter
                                            input(type="checkbox" name="number_flat" value="01").hidden-block
                                            span 1
                                        label.js--send-filter
                                            input(type="checkbox" name="number_flat" value="02").hidden-block
                                            span 2
                                        label.js--send-filter
                                            input(type="checkbox" name="number_flat" value="02").hidden-block
                                            span 3

                                .field-block.col-60p.grid-item
                                    .field-block--label Площадь
                                    .span-wrap
                                        span.price_value.square_min 27 м
                                        input(type="hidden" name="square_min" value="").inp-square-min
                                        span.price_value.square_max 78 м
                                        input(type="hidden" name="square_min" value="").inp-square-max
                                    .square.slider-component(data-min-current="27" data-max-current="78" data-min_range="27" data-max_range="78" data-step="1")

                        .location-section.grid-item.filter-section
                            .filter-section-title Расположение
                            .filter-section-content
                                .field-block.col-60p.grid-item
                                    .field-block--label Этаж
                                    .span-wrap
                                        span.price_value.square_min 1
                                        input(type="hidden" name="floor_min" value="").inp-square-min
                                        span.price_value.square_max 3
                                        input(type="hidden" name="floor_min" value="").inp-square-max
                                    .location.slider-component(data-min-current="1" data-max-current="3" data-min_range="1" data-max_range="3" data-step="1")

                                .field-block.col-30p.grid-item
                                    .field-block--label Корпус
                                    .button-group
                                        label.js--send-filter
                                            input(type="checkbox" name="block" value="01").hidden-block
                                            span 1.2

                    .flat-filter-results
                        .results-header.grid
                            .cell-room.grid-item Число комнат
                            .cell-square.grid-item Площадь
                                br
                                ="(жилая)"
                            .cell-floor.grid-item Этаж
                            .cell-building.grid-item Корпус
                            .cell-flat.grid-item Номер
                                br
                                ="квартиры"
                            .cell-price.grid-item Стоимость
                            .cell-plan.grid-item Планировка

                        .results-content
                            .results-rows.grid.ps-container
                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="2" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="2" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="2" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat



        .flats-navigator-screen
            // FLOOR
            .flats-navigator-screen-floor.hidden-block
                .screen-content-wrapper
                    .navigator-control-close.js--close-floor
                    .screen-content.floor-screen-content

            // FLAT
            .flats-navigator-screen-flat.hidden-block
                .screen-content-wrapper
                    .navigator-control-close.js--close-flat
                    .screen-content.floor-screen-content

    //script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/flat.jpg",opacity: 0.5,top: 9,left: 0,center: false,clip: true,show: false});});
    //script(type="text/javascript" ) $(document).ready(function(){ active_floor=3; active_flat = 25; need_url = true;  need_load = true; flat_href = "http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html"; show_floor("http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php", "1-2--1", "3"); })





