.hidden-block
  display none !important

.flat.open
  .house-pointer
    display none

body.flat
  min-height 900px

  .page-wrap
    min-height 100%
    //min-width 1360px

    .header
      background none
      min-height 73px

  .middle-stripe
    top 0 
    min-height 620px
    overflow hidden 
    //z-index initial
    position absolute 
    bottom 60px 
    width 100% 

  .blur
    position absolute
    top 0
    width 100%
    height 100px
    overflow hidden
    z-index 40

    @media screen and (orientation portrait)
      height 130px

  .blur:before
    content ''
    display block
    position relative
    background  url("../img/bg__flat.jpg") top left/cover no-repeat
    -webkit-filter  blur(2px)
    filter  blur(2px)
    z-index 2
    bottom  0
    right  0
    left  0
    height 100px

    @media screen and (orientation portrait)
      height 130px

.container-wrap
  min-height 520px
  position relative

.flats-app-container
  position absolute
  top 0
  left 0
  width 100%
  height 100%


  .pano-svg
    position absolute
    top 20px
    left 0
    width 100%
    height 100%

    .svg-loader-content
      width 100%
      height 100%
      display flex
      align-items center
      vertical-align top

      @media (max-width: 1530px)
        position absolute
        left 50%
        margin-left -765px
        width 1530px

      @media screen and (orientation portrait)
        width 190vh
        margin-left -95vh

      svg
        min-width 100%
        min-height 100%
        z-index 5

        g
          z-index 10
          position relative

        path
          position relative
          z-index 20

  .house-pointer
    cursor pointer
    display block
    position absolute
    z-index 45

    .house-flats-num
      position absolute
      width 100px
      height 100px
      bottom 100%
      margin-bottom 8px
      margin-left -50px
      left 0
      font-size 12px
      transition-property left
      transition-duration 0.3s
      z-index 10

      .circle-content
        display table
        width 100%
        height 100%
        padding-left 8px
        padding-right 8px
        -moz-box-sizing border-box
        -webkit-box-sizing border-box
        box-sizing border-box
        z-index 10
        position relative

        .circle-content-centered
          display table-cell
          vertical-align middle
          text-align center

          div
            font-size 12px
            color #5d5d5d
            font-weight bold

          .heading
            font-size 22px
            color #5d5d5d
            font-weight bold

    .house-flats-num:after
      width  84px
      height  84px
      top  0
      left  0
      right  0
      bottom  0
      margin  auto
      background  #d4de24
      content ''
      position absolute
      border-radius 50%

    .house-flats-num:before
      width 100%
      height 100%
      background #ffffff
      content ''
      position absolute
      border-radius 50%

    .house-label
      position absolute
      width 100px
      height 100px
      bottom 100%
      margin-bottom 8px
      margin-left -50px
      left 0
      font-size 12px
      transition-property left
      transition-duration 0.3s
      z-index 20

      .circle-content
        display table
        width 100%
        height 100%
        padding-left 8px
        padding-right 8px
        -moz-box-sizing border-box
        -webkit-box-sizing border-box
        box-sizing border-box
        z-index 10
        position relative

        .circle-content-centered
          display table-cell
          vertical-align middle
          text-align center

          div
            font-size 12px
            color #5d5d5d

          span
            color #5d5d5d

          .heading
            font-size 22px
            color #5d5d5d

    .house-label:before
      position absolute
      content ""
      display block
      -moz-border-radius 50%
      -webkit-border-radius 50%
      border-radius 50%
      z-index -1
      background #fff
      width 100%
      height 100%

    .house-label:after
      width 84px
      height 84px
      top 0
      left 0
      right 0
      bottom 0
      margin auto
      background #d4de24
      content ''
      position absolute
      border-radius 50%

  .pointer-arrow
    background  url("../img/arrow-white-down.png") center center no-repeat
    width  24px
    height  34px
    margin-left  -12px

  .house-pointer:hover
    .house-flats-num
      left 43px

    .house-label
      left -43px

  .section_1
    top 36%
    left 39%

  .section_2
    top 26%
    left 71.5%

    @media screen and (orientation portrait)
      left 90%

  .section_3
    top 71%
    left 49%

  .section_4
    top 44%
    left 78%

    @media screen and (orientation portrait)
      left 120%

.flats-filter-wrap
  position absolute
  left 0
  width 100%
  bottom -494px
  -moz-transition-property bottom
  -o-transition-property bottom
  -webkit-transition-property bottom
  transition-property bottom
  -moz-transition-duration 0.4s
  -o-transition-duration 0.4s
  -webkit-transition-duration 0.4s
  transition-duration 0.4s
  z-index 55

  .open-toggle:after
    content ""
    display inline-block
    background url(../img/white-arrow-up.png) center center no-repeat
    width 22px
    height 11px
    margin-left 10px


  .open-toggle
    top -55px
    padding-top 20px
    height 55px
    background #0070a0
    -moz-border-radius 3px 3px 0 0
    -webkit-border-radius 3px
    border-radius 3px 3px 0 0
    color #fff
    text-transform uppercase
    position absolute
    left 0
    right 0
    margin 0 auto
    width 235px
    font-size 15px
    text-align center
    cursor pointer
    opacity 0.9
    -moz-transition-property top
    -o-transition-property top
    -webkit-transition-property top
    transition-property top
    -moz-transition-duration 0.4s
    -o-transition-duration 0.4s
    -webkit-transition-duration 0.4s
    transition-duration 0.4s

  .reset-filter
    top 0
    height 36px
    padding-top 8px
    background #fff
    color #0070a0
    position absolute
    left 0
    right 0
    margin 0 auto
    width 235px
    font-size 15px
    text-align center
    cursor pointer
    opacity 0.9
    -moz-transition-property top
    -o-transition-property top
    -webkit-transition-property top
    transition-property top
    -moz-transition-duration 0.4s
    -o-transition-duration 0.4s
    -webkit-transition-duration 0.4s
    transition-duration 0.4s

  .flats-filter-container
    position relative
    margin 0 auto
    height 494px
    width 990px
    background white

    .price-section
      width 21.31313%

      .filter-section-title:before
        content ""
        display inline-block
        background url(../img/price-section-ico.png) center center no-repeat
        width 22px
        height 18px
        margin-right 8px

      .filter-section-content
        .field-block
          .price_value
            display block
            font-size 14px
            color $cGray
            margin 0 30px

          .price_max
            text-align right

          .ui-slider-handle:nth-child(3):before
            position absolute
            content ""
            width 0
            height 0
            border-style solid
            border-width 0 2.5px 6px 2.5px
            border-color transparent transparent #8dccd2  transparent
            left 50%
            margin-left -2px
            bottom -8px !important
            top auto !important



    .filter-section
      .filter-section-title
        height 26px
        padding-top 8px
        vertical-align top
        background #dceff1
        text-align center
        font-size 15px
        font-family Verdana, Acrom, sans-serif
        color #000
        border-right 1px solid #fbfdfe

      .filter-section-content
        height 91px
        padding-top 12px
        padding-bottom 15px
        border-right 1px solid #b2d2d7

        .col-60p
          width 59%
          position relative

        .col-40p
          width 40%

        .field-block--label
          font-size 16px
          color $cGray
          padding-top 10px
          font-family Arial, sans-serif

        .button-group
          .hidden-block
            display none

          label
            display inline-block
            vertical-align top
            margin-right 7px
            margin-top 9px
            cursor pointer

            span
              display block
              width 28px
              height 28px
              border 1px solid #f3f3f3
              border-radius 2px
              text-align center
              line-height  28px
              font-size 16px

            span:hover
              border 1px solid $cSalat

            input:checked + span
              background $cSalat
              border 1px solid $cSalat

        .slider-component
          height 3px
          background $cGray
          display block
          margin 23px 39px 23px 22px

          .ui-slider-range
            height 3px
            background #d4de24

          .ui-slider-handle
            width 31px
            height 31px
            background #ffffff
            border-radius 50%
            border 1px solid #dbdbdb
            box-shadow 0 0 4px #dbdbdb
            outline none
            margin-top -12px
            cursor pointer

          .ui-slider-handle:before
            position absolute
            content ""
            width 0
            height 0
            border-style solid
            border-width 6px 2.5px 0 2.5px
            border-color #8dccd2 transparent transparent transparent
            left 50%
            margin-left -2px
            top -8px

          .ui-slider-handle:nth-child(2):after,
          .ui-slider-handle:nth-child(3):after
            position absolute
            left 0
            right 0
            text-align center
            font-family $fAcrom
            font-size 14px
            color $cGray
            top 50%
            margin-top -9px

          .ui-slider-handle:nth-child(2):after
            content "от"

          .ui-slider-handle:nth-child(3):after
            content "до"

    .size-section
      width 41.61616%

      .filter-section-title:before
        content ""
        display inline-block
        background url(../img/size-section-ico.png) center center no-repeat
        width 82px
        height 18px

      .filter-section-content
        padding 0 14px 0 11px

      .span-wrap
        position relative
        margin-right 46px

      .price_value
        position absolute
        margin-top 9px
        color $cGray
        margin-left 14px
        white-space nowrap

      .price_value:after
        position absolute
        content "2"
        font-size 9px
        color $cGray
        font-family $fAcrom
        top -1px

      .square_min
        left 0%

      .square_max
        left 100%

      .filter-section-content
        .slider-component
          margin 50px 21px 23px 22px

    .location-section
      width 37.07071%

      .filter-section-title:before
        content ""
        display inline-block
        background url(../img/location-section-ico.png) center center no-repeat
        width 18px
        height 18px
        margin-right 8px

      .filter-section-title:before
        content ""
        display inline-block
        background url(../img/size-section-ico.png) center center no-repeat
        width 82px
        height 18px

      .col-30p
        width 25%

      .col-60p
        margin-left -10px
        margin-right 33px

        .field-block--label
          margin-left 13px

      .filter-section-content
        padding 0 14px 0 11px

      .span-wrap
        position relative
        margin 0 31px 0 12px

      .price_value
        position absolute
        margin-top 9px
        color $cGray
        margin-left 15px

      .square_min
        left 0%

      .square_max
        left 100%

      .filter-section-content
        .slider-component
          margin-top 50px
          margin-right 20px

  .results-header
    height  46px
    background  #e2eb9c
    font-family  Verdana, Acrom, sans-serif
    font-size  15px
    padding-left  7px
    padding-right  18px
    color  #000
    -moz-box-shadow  0 1px 3px rgba(3,4,4,0.37)
    -webkit-box-shadow  0 1px 3px rgba(3,4,4,0.37)
    box-shadow  0 1px 3px rgba(3,4,4,0.37)

    div
      border-right 1px solid #8e918f
      height 46px
      text-align center
      display inline-flex
      align-items center
      justify-content center

    .cell-room
      width 17%

    .cell-square
      width 14%

    .cell-floor
      width 11%

    .cell-building
      width 12%

    .cell-flat
      width 13%

    .cell-price
      width 14%

    .cell-plan
      width 15%
      border-right none

  .results-rows
    height 300px
    background #dadfb3
    overflow hidden
    position relative

    .flat-row
      margin-left 7px
      margin-right 18px
      margin-top 7px
      background #fff
      height 34px
      padding-top 6px
      font-size 12px
      font-family Arial
      cursor pointer
      -moz-border-radius 3px
      -webkit-border-radius 3px
      border-radius 3px
      -moz-transition-property "box-shadow"
      -o-transition-property "box-shadow"
      -webkit-transition-property "box-shadow"
      transition-property "box-shadow"
      -moz-transition-duration 0.3s
      -o-transition-duration 0.3s
      -webkit-transition-duration 0.3s
      transition-duration 0.3s

      div
        font-size 12px
        border-right 1px solid #f1f1f1
        height 29px
        text-align center
        display inline-flex
        align-items center
        justify-content center

      .cell-room
        width 17%

      .cell-square
        width 14.2%

        sup
          font-size 9px
          line-height 1px
          display inline-block
          vertical-align top
          padding-left 1px

      .cell-floor
        width 11.2%

      .cell-building
        width 12.4%

      .cell-flat
        width 13%

      .cell-price
        width 14.3%

      .cell-plan
        width 15%
        border-right none

        .show-flor
          display block
          width 26px
          height 15px
          background url("../img/flat-eye.png") no-repeat 0 0

      .cell-plan:hover
        .show-flor
          background url("../img/flat-eye-hover.png") no-repeat 0 0

.flats-filter-wrap.active
  bottom 0

  .open-toggle
    top -91px

  .reset-filter
    top -36px

  .open-toggle:after
    background url(../img/white-arrow-down.png) center center no-repeat

// ЭТАЖИ

.flats-navigator
  position absolute
  top 0
  left 0
  width 100%
  height 100%

.flats-navigator-screen-floor .screen-content-wrapper,
.flats-navigator-screen-flat .screen-content-wrapper
  position absolute
  top 160px
  bottom 0
  left 0
  right 0
  margin-left auto
  margin-right auto
  min-width 1000px
  max-width 1200px
  background #fff
  z-index 100
  border 1px solid gainsboro

  @media screen and (orientation portrait)
    min-width 800px !important

.flats-navigator-screen
  top  177px
  left  0
  right  0
  bottom  0
  max-width  none
  z-index 50
  background #fff
  text-align center

  .flats-navigator-screen-floor
    top  177px
    left  0
    right  0
    bottom  0
    max-width  none
    z-index 100
    background #fff

    .screen-content-wrapper
      height 100%
      max-width  none

    .floor-screen-content
      position relative
      padding 0.5em  3em 3em
      width 62.5%
      max-width 1200px
      min-width 900px
      margin 0 auto
      height 100%

      @media screen and (orientation portrait)
        padding 0.5em  1em 3em

      .floor-nav
        top  50px  
        position  absolute  
        left  50%  
        -moz-transform  translate(-50%)  
        -ms-transform  translate(-50%)  
        -webkit-transform  translate(-50%)  
        transform  translate(-50%)  
        white-space  nowrap  
        text-align  center  
        text-transform  uppercase  
        letter-spacing  0.05em  
        font-size  22px  
        font-family $fAcroma_extra
        z-index 40

        .floor-nav-content
          .floor-nav-pos
            position  relative  
            display  inline-block  
            padding-top  4px  
            height  36px

            span
              font-family $fAcroma_extra
              font-size 22px
              font-weight bold

        .floor-nav-up, .floor-nav-down 
          position  absolute  
          left  50%  
          z-index  5

        .floor-nav-up
          bottom  100%  
          margin-bottom  5px  
          background  url(../img/arrow-red-up.png) center center no-repeat
          width  13px  
          height  19px  
          margin-left  -6.5px  
          cursor  pointer  

        .floor-nav-down
          top  100%  
          margin-top  5px  
          background  url(../img/arrow-red-down.png) center center no-repeat
          width  13px  
          height  19px  
          margin-left  -6.5px  
          cursor  pointer

      .plan-circles
        text-align left

        .plan-circle
          font-size  12px  
          display  inline-block  
          vertical-align  top

        .circle-medium
          position  relative  
          width  100px  
          height  100px  
          z-index  1  
          margin-left  -20px

          .circle-content
            display  table  
            width  100%  
            height  100%  
            padding-left  3px  
            padding-right  3px  
            -moz-box-sizing  border-box  
            -webkit-box-sizing  border-box  
            box-sizing  border-box

            .circle-content-centered
              display  table-cell  
              vertical-align  middle  
              text-align  center

              .heading
                font-size 22px
                font-weight bold
                color #5d5d5d

                span
                  font-weight bold
                  color #5d5d5d

                span:first-child
                  font-size 17px

              .heading + div
                font-weight bold
                color #5d5d5d

                span
                  font-weight bold
                  font-size 12px
                  color #5d5d5d

        .circle-medium:before,
        .circle-medium:after
          position  absolute  
          content  ""  
          display  block  
          -moz-border-radius  50%  
          -webkit-border-radius  50%  
          border-radius  50%  
          z-index  -1

        .circle-medium:before
          background  #fff  
          width  100%  
          height  100%

        .circle-medium:after
          width  94px  
          height  94px  
          top  0  
          left  0  
          right  0  
          bottom  0  
          margin  auto  
          background  #d4de24  
          
      .plan-circle:nth-child(1)
        z-index 3

      .flats-legend
        position  absolute  
        right  3em  
        top  3em

        .legend-item
          white-space nowrap
          font-weight bold
          font-size 14px
          text-align left

        .legend-item:before
          width  10px  
          height  10px  
          content  ""  
          display  inline-block  
          margin-right  10px  
          text-align  left

        .type-studio:before
          background-color #35aab7
        .type-room-1:before
          background-color #ffdd00
        .type-room-2:before
          background-color #8fb852
        .type-room-3:before
          background-color #f47b20


      .c-1-2:first-child,
      .c-1-3:first-child,
      .c-1-3-r:first-child,
      .c-2-3:first-child
        padding-left 0

      .c-1-2:last-child,
      .c-1-3:last-child,
      .c-1-3-r:last-child,
      .c-2-3:last-child
        padding-right 0

      .c-1-2,
      .c-1-3,
      .c-1-3-r,
      .c-2-3
        float  left  
        padding-left  18px  
        padding-right  18px

      .c-1-2
        width 44%

      .pano-container
        top 85px
        left 36px
        right 36px
        bottom 36px
        width auto
        height auto
        position absolute
        z-index  20

        .rose
          position absolute
          top 48%
          right 0%
          display none

        span
          position absolute
          font-size 14px
          text-transform uppercase

        .street
          top 15%
          left 5%
          display none

        .zone
          top 50%
          right 10%
          display none

        .pano-svg
          position absolute 
          top 20px
          left 0 
          width 100% 
          height 100%

        .svg-loader-content
          width 100%
          height 100%

          svg
            path
              opacity 0.5
              position relative
              z-index 10
              transition 0.2s
              -webkit-transition 0.2s
              cursor pointer

            path.noav
              opacity 0

            path:hover
              opacity 1

            image
             pointer-events none



  .flats-navigator-screen-flat
    position absolute 
    top 160px
    bottom 0 
    left 50%
    right 0 
    margin-left -600px
    min-width 1000px 
    max-width 1200px 
    background #fff 
    z-index 110
    border 1px solid gainsboro
    font-family $fAcrom

    .calc-panel
      position absolute
      right -15px
      top -15px
      z-index 3
      display none
      -moz-border-radius 2px
      -webkit-border-radius 2px
      border-radius 2px
      background-color #fff
      -moz-box-shadow 0 5px 30px rgba(3,4,4,0.8)
      -webkit-box-shadow 0 5px 30px rgba(3,4,4,0.8)
      box-shadow 0 5px 30px rgba(3,4,4,0.8)
      text-align left

      .calc-top
        padding-left 30px
        white-space nowrap
        font-size 14px
        font-family Arial, sans-serif

        .calc-close
          position absolute
          top 15px
          left 15px
          background url(../img/small-cross.png) center center no-repeat
          width 15px
          height 15px
          cursor pointer

        .calc-block
          display inline-block
          padding 15px
          padding-top 40px
          border-right 1px solid #eaeaea
          height 85px
          vertical-align top
          white-space nowrap

          .initial-pay-input-wrap
            width 140px
            display inline-block
            vertical-align bottom

            input
              width 100px
              height 30px
              -moz-border-radius 4px 5px 5px 4px / 4px 4px 5px 5px
              -webkit-border-radius 4px 4px
              border-radius 4px 5px 5px 4px / 4px 4px 5px 5px
              background-color #fff
              border solid 1px #c2c2c2
              text-align center
              font-size 14px

          .initial-pay-slider-wrap
            width 180px
            display inline-block
            vertical-align bottom

            .grades
              padding-bottom 14px

              .grade-item
                display inline-block
                vertical-align top
                margin-left 6px

            .progress-container
              background transparent

            .progress
              width 50%
              margin-bottom  15px  
              background  #ace8f1  
              text-align  right  
              padding  3px  
              min-width  32px  
              -moz-border-radius  3px  
              -webkit-border-radius  3px  
              border-radius  3px  

          .calc-label
            font-size 14px
            padding-bottom 7px
            color #a7a7a7

          .period-input-wrap
            width 70px
            display inline-block
            vertical-align bottom

            input
              width 30px
              height 30px
              -moz-border-radius 4px 5px 5px 4px / 4px 4px 5px 5px
              -webkit-border-radius 4px 4px
              border-radius 4px 5px 5px 4px / 4px 4px 5px 5px
              background-color #fff
              border solid 1px #c2c2c2
              text-align center
              font-size 14px

            .input-suffix
              margin-left 5px
              font-size 14px
              font-family Arial, sans-serif

              .slider-min-max
                padding-bottom 14px
                
                .max
                  float right

          .period-slider-wrap
            width 180px
            display inline-block
            vertical-align bottom


      .calc-bottom
        background #fdd664
        height 23px
        padding 11px 15px
        padding-left 41px
        font-size 15px
        font-family Verdana, sans-serif

        .bottom-right
          float right

        span
          font-size 15px
          font-family Verdana, sans-serif

        b
          font-size 15px
          font-family Verdana, sans-serif
          font-weight bold

          .month-payment
            margin-left 5px

    .screen-content-wrapper
      top 0
      border  none
      padding 0.5em 3em 3em

      @media screen and (orientation portrait)
        padding 0.5em 1em 3em

    .floor-screen-content
      margin-top 1em

    .floor-nav
      top 20px
      position absolute 
      left 50% 
      -moz-transform translate(-50%) 
      -ms-transform translate(-50%) 
      -webkit-transform translate(-50%) 
      transform translate(-50%) 
      white-space nowrap 
      text-align center 
      text-transform uppercase 
      letter-spacing 0.05em 
      font-size 22px 
      font-family $fAcroma_extra
      z-index 40

      .floor-nav-content
        white-space nowrap 
        text-align center 
        text-transform uppercase 
        letter-spacing 0.05em 
        font-size 22px 
        font-family $fAcroma_extra
        display block

        .floor-nav-pos
          position relative 
          display inline-block 
          padding-top 4px 
          height 36px

          span
            font-weight bold
            font-size 22px
            font-font $fAcroma_extra

      .floor-link
        position relative
        background none
        text-align center
        color #77983d
        cursor pointer
        text-decoration underline
        text-transform uppercase
        letter-spacing -0.025em
        width auto
        z-index 2
        height 29px

    .plan-circles
      font-family Acrom, Verdana, sans-serif
      text-align left

      .plan-circle
        font-size 12px 
        display inline-block 
        vertical-align top

      .plan-circle:nth-child(1)
        z-index 3

      .plan-circle:nth-child(2)
        z-index 2

      .plan-circle:nth-child(3)
        z-index 1

      .circle-medium
        position relative 
        width 100px 
        height 100px 
        z-index 1 
        margin-left -20px

        .circle-content 
          display table 
          width 100% 
          height 100% 
          padding-left 3px 
          padding-right 3px 
          -moz-box-sizing border-box 
          -webkit-box-sizing border-box 
          box-sizing border-box

          .heading
            font-size 17px
            font-weight bold
            color #5d5d5d

          .heading + div
            font-weight bold
            color #5d5d5d

          span
            font-size 22px
            font-weight bold
            color #5d5d5d


          span:first-child
            font-size 20px

        .circle-content-centered 
          display table-cell 
          vertical-align middle 
          text-align center

          .heading
            font-size 22px
            font-weight bold

            span
              font-size 22px
              font-weight bold

            span:first-child
              font-size 20px

      .flat-price
        position relative 
        width 100px 
        height 100px 
        z-index 1 
        display block 
        margin-top -1em 
        color #fff 
        font-size 15px 
        font-family Acrom, verdana, sans-serif

        .heading
          font-size 15px !important
          color #ffffff !important

        .heading + div
          font-size 12px !important
          color #ffffff !important

      .circle-medium:after,
      .circle-medium:after
        position absolute 
        content "" 
        display block 
        -moz-border-radius 50% 
        -webkit-border-radius 50% 
        border-radius 50% 
        z-index -1

      .circle-medium:before,
      .circle-medium:after
        position absolute 
        content "" 
        display block 
        -moz-border-radius 50% 
        -webkit-border-radius 50% 
        border-radius 50% 
        z-index -1

      .circle-medium:before 
        background #fff 
        width 100% 
        height 100%

      .circle-medium:after 
        width 94px 
        height 94px 
        top 0
        left 0 
        right 0 
        bottom 0 
        margin auto
        background #d4de24

      .flat-price:after
        width 90px
        height 90px
        top 0
        left 0
        right 0
        bottom 0
        margin auto
        background #da2028

    .flat-description
      position relative 
      left 0 
      width 210px
      text-align left 
      z-index 2 
      clear both

      .flat-description-text
        margin-top 30px 
        font-size 14px 
        color #213525

        .flat-description-text-heading
          color #213525 
          font-size 16px 
          margin-bottom 10px 
          font-family $fAcroma_bold

          span
            color #213525 
            font-size 16px
            font-family $fAcroma_bold

        .text-line
          margin-bottom 1px

          span
            color #213525
            font-size 14px

    .buttons-left
      display inline-block 
      margin-top 2em
      float left

      .flat-button
        display block 
        position relative 
        text-transform uppercase 
        cursor pointer 
        margin-bottom 3.375em
        text-align left

        .text
          display inline-block 
          margin-top 0.5em 
          vertical-align top 
          font-weight bold 
          font-size 1em 
          margin-left 1.6875em 
          letter-spacing -0.025em 
          line-height 22/16 
          color black

          span
            display block
            font-size 1em
            color $cBlack
            font-family $fAcroma_bold

          .underline
            display inline-block

          .underline:after
            content ''
            display block 
            width 100% 
            height 0 
            border 1px solid

      .flat-pdf
        .ico
          display inline-block
          vertical-align top
          background-image url(../img/sprites.png) 
          background-position 0 -500px
          background-repeat no-repeat 
          height 56px 
          width 47px

      .flat-fav
        .ico
          display inline-block
          vertical-align top
          background-image url(../img/sprites.png)
          background-position 0 -57px
          background-repeat no-repeat
          height 57px
          width 47px

      .flat-pdf:hover
        .ico
          background-position 0 -444px

         span
          color $cGreen

      .flat-fav:hover
        .ico
          background-position 0 0

         span
          color $cRed

    .buttons-right
      float right

      .flat-button
        display block
        position relative
        text-transform uppercase
        cursor pointer
        margin-bottom 3.375em

        .text
          display inline-block
          margin-top 0.5em
          vertical-align top
          font-weight bold
          font-size 1em
          margin-left 1.6875em
          letter-spacing -0.025em
          line-height 22/16
          color black

          .text-line
            display block

          .text-line.underline
            display inline-block

          .text-line.underline:after
            content ''
            display block
            width 100%
            height 0
            border 1px solid

      .flat-downpayment
        .ico
          background-image url(/assets/flats/sprites.png)
          background-position 0 -386px
          background-repeat no-repeat
          height 58px
          width 64px
          display inline-block
          vertical-align top

      .flat-downpayment:hover
        .text-line
          color #63b31d

        .ico
          background-position 0 -328px

      .flat-mortgage
        .ico
          background-image url(/assets/flats/sprites.png)
          background-position 0 -272px
          background-repeat no-repeat
          height 56px
          width 56px
          display inline-block
          vertical-align top

      .flat-mortgage:hover
        .text-line
          color #00719f

        .ico
          background-position 0 -216px

      .flat-credit
        .ico
          background-image url(/assets/flats/sprites.png)
          background-position 0 -165px
          background-repeat no-repeat
          height 51px
          width 53px
          display inline-block
          vertical-align top

      .flat-credit:hover
        .text-line
          color #00719f

        .ico
          background-position 0 -114px

    .how-to-buy-link
      position absolute
      left 50%
      -moz-transform translate(-50%)
      -ms-transform translate(-50%)
      -webkit-transform translate(-50%)
      transform translate(-50%)
      font 2em AcromExtraBold, Verdana, sans-serif
      color black
      text-transform uppercase
      letter-spacing -0.05em
      bottom 70px
      z-index 20

    .how-to-buy-link:hover
      color #00719f

    .pano-container
      position absolute
      width auto
      height auto
      top 45px
      left 290px 
      right 260px 
      bottom 70px

      a
        display flex
        align-items center
        justify-content center
        width 100%
        height 100%

        img
          max-width 80%
          max-height  80%

  .flat-mortage-wrap
    .calc-bottom
      background #91e5f1

    .slider-min-max
      padding-bottom 14px

      .max
        float right


  .open
    .calc-panel
      display block
      width 792px

      .slider-component
        height 3px
        background #c2c2c2


      .ui-slider-range
        height 3px
        background #cfda29

      .ui-slider-handle
        background  url(../img/slider-handle.png) center center no-repeat
        width 19px 
        height 19px 
        top -9px 
        left -8px 
        border none 
        -moz-box-shadow none 
        -webkit-box-shadow none 
        box-shadow none 
        cursor pointer
        outline none

.navigator-control-close
  position absolute
  top 10px
  right 10px
  background url(../../../img/cross.png) center center no-repeat
  width 30px
  height 29px
  cursor pointer


