block vars

.bottom-stripe
    footer.footer
        .footer-blur
        .width-wrap
            .justifyed
                ul.footer__social
                    li
                        a(href="").footer__social-vk
                            .ico
                    li
                        a(href="").footer__social-in
                            .ico
                    li
                        a(href="").footer__social-fb
                            .ico

                .footer__sber
                    span Партнер по ипотечному кредитованию
                    img(src="../../../img/icon--sber.jpg" alt /)

                a(href="tel:88126402277").footer__phone +7 (812) 640-22-77

                .footer__sber
                    span Брокер проекта
                    img(src="../../../img/icon--aida.jpg" alt /)

                .footer__made
                    span Сайт развивает —
                    a(href="http://irbis.ru/") IRBIS

            span.footer__copyright ДАННЫЙ САЙТ НОСИТ ИСКЛЮЧИТЕЛЬНО ИНФОРМАЦИОННЫЙ ХАРАКТЕР И НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ СТАТЬИ 437 ГРАЖДАНСКОГО КОДЕКСА РФ.