block vars

header.header


    nav
        ul.main-nav
            li
                span Главная
            li.has-menu
                a(href="") О проекте
                span Условия покупки

                ul.submenu
                    li
                        a(href="") Условия покупки
                    li
                        a(href="") Отделка
                    li
                        a(href="") Ход строительства
                    li
                        a(href="") Новости
                    li
                        a(href="") Акции
                    li
                        a(href="") Документация

            li
                a(href="") Квартиры

        a(href="").main-logo

        ul.main-nav
            li.header__contacts
                a(href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/call-request.html" class="fancybox.ajax").fancy.header__contacts-phone +7 (812)
                    strong 640-22-77
            li
                a(href="") Инфраструктура
            li
                a(href="") Философия
            li
                a(href="") Контакты