doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title #{title}
        link(rel='icon' href='../../../img/favicon.ico' type='image/x-icon')

        link(rel='stylesheet', href="../../../css/style.css")
        script(src="../../../js/svg/plan.js")
        script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
        script if(/*@cc_on!@*/false){document.documentElement.className+=' ie10';}
        script(src="../../../js/app-common.js")
        script(src="../../../js/app.js")
        script(src="../../../js/jquery.pixlayout.0.9.6.js")

    body.index
        .page-wrap
            include header
            block content
            .psevdofooter
        include  footer_index
