block vars
    - var title='DEV'

extends partials/layout_bootstrap

block content

    .container

        .page-header
            h1 Верстка по макетам

        .list-group

            .list-group-item.active Pages

            a.list-group-item(href="pages/pageIndex/pageIndex.html")
                h4 page Index

            a.list-group-item(href="pages/pageFlat/pageFlat.html")
                h4 page Flat

            a.list-group-item(href="pages/pageContacts/pageContacts.html")
                h4 page Contacts

            a.list-group-item(href="pages/pageStructure/pageStructure.html")
                h4 page Structure

            a.list-group-item(href="pages/pageAbout/pageAbout.html")
                h4 page About project

            a.list-group-item(href="pages/pageAbout/pageBuy.html")
                h4 page About buy

            a.list-group-item(href="pages/pageAbout/pageDesign.html")
                h4 page About design

            a.list-group-item(href="pages/pageAbout/pageDocumentation.html")
                h4 page About documentation

            a.list-group-item(href="pages/pageAbout/pageNews.html")
                h4 page About news

            a.list-group-item(href="pages/pageAbout/pageNews-post.html")
                h4 page About news-post

            a.list-group-item(href="pages/pageAbout/pageStages.html")
                h4 page About Stages